{% extends 'dashboard.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="section-wrapper">
            <h3>Modifier mon mot de passe</h3>

            {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
                <div class="form-group">
                    <div>
                        {{ form_label(form.currentPassword) }}
                        {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe actuel', 'type': 'password'}, 'id': 'inputCurrentPassword'}) }}
                    </div>
                </div>
                {% if form_errors(form.currentPassword) %}
                    <ul class="form-error-message">
                        <li><i class="fa-solid fa-triangle-exclamation"></i> {{ form_errors(form.currentPassword) }}</li>
                    </ul>
                {% endif %}
                <div class="form-group">
                    <div>
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Entrer un mot de passe', 'type': 'password'}, 'id': 'inputPassword'}) }}
                    </div>
                    <div>
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le mot de passe', 'type': 'password'}, 'id': 'inputConfirmPassword'}) }}
                    </div>
                </div>
                {% if form_errors(form.plainPassword.first) %}
                    <ul class="form-error-message">
                        <li><i class="fa-solid fa-triangle-exclamation"></i> {{ form_errors(form.plainPassword.first) }}</li>
                    </ul>
                {% endif %}
                {% if form_errors(form.plainPassword) %}
                    <ul class="form-error-message">
                        <li><i class="fa-solid fa-triangle-exclamation"></i> {{ form_errors(form.plainPassword) }}</li>
                    </ul>
                {% endif %}
                <button type="submit" class="btn-password">Modifier</button>
            {{ form_end(form) }}
        </div>

        <button type="button" class="openModal"><i class="fa-regular fa-square-minus" style="color: #ff0000;"></i> Supprimer mon compte</button>

        {# Modal : êtes-vous sûr de vouloir supprimer votre compte ? #}
        <div class="modal">
            <div class="confirm-delete-content">
                <p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>
                <p><i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i> Attention, cette action est irréversible.</p>
                {# Demander le mot de passe pour confirmer la suppression du compte #}
                <form action="{{ path('app_delete_user') }}" method="post" data-turbo="false">
                    <div class="form-control">
                        <input type="password" name="password" placeholder="Mot de passe" required>
                    </div>
                    <input type="hidden" name="userId" value="{{ app.user.id }}">
                    <div class="modal-action">
                        <button type="submit">Supprimer</button>
                        <button type="button" class="closeModal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-overlay"></div>

<script>
    // Ouvrir la modal pour envoyer un message
    const openModal = document.querySelectorAll('.openModal');
    const modal = document.querySelector('.modal');
    const overlay = document.querySelector('.modal-overlay');
    const closeModal = document.querySelector('.closeModal');

    openModal.forEach((btn) => {
        btn.addEventListener('click', () => {
            modal.classList.add('active');
            overlay.classList.add('active');
        });
    });

    closeModal.addEventListener('click', () => {
        modal.classList.remove('active');
        overlay.classList.remove('active');
    });

    overlay.addEventListener('click', () => {
        modal.classList.remove('active');
        overlay.classList.remove('active');
    });
</script>
<script>
    // Sélectionnez les champs de mot de passe
    var passwordField = document.getElementById('inputPassword');
    var confirmPasswordField = document.getElementById('inputConfirmPassword');

    // Créez des éléments pour afficher la force du mot de passe
    var passwordStrengthMessage = document.createElement('p');
    var confirmPasswordStrengthMessage = document.createElement('p');

    // Ajoutez les messages de force du mot de passe sous les champs de mot de passe
    passwordField.parentNode.appendChild(passwordStrengthMessage);
    confirmPasswordField.parentNode.appendChild(confirmPasswordStrengthMessage);

    // Définissez l'expression régulière pour la validation du mot de passe
    var strongPasswordRegex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{12,}$/;
    var mediumPasswordRegex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/;

    // Ajoutez un écouteur d'événement 'keyup' pour chaque champ de mot de passe
    passwordField.addEventListener('keyup', validatePassword);
    confirmPasswordField.addEventListener('keyup', validatePassword);

    function validatePassword(event) {
        // Vérifiez si le mot de passe correspond à l'expression régulière
        if (strongPasswordRegex.test(event.target.value)) {
            // Si le mot de passe est fort, changez la couleur de la bordure du champ en vert et affichez un message
            event.target.style.borderColor = 'green';
            event.target.nextSibling.textContent = 'Mot de passe fort';
        } else if (mediumPasswordRegex.test(event.target.value)) {
            // Si le mot de passe est moyen, changez la couleur de la bordure du champ en orange et affichez un message
            event.target.style.borderColor = 'orange';
            event.target.nextSibling.textContent = 'Mot de passe moyen';
        } else {
            // Si le mot de passe est faible, changez la couleur de la bordure du champ en rouge et affichez un message
            event.target.style.borderColor = 'red';
            event.target.nextSibling.textContent = 'Mot de passe faible';
        }
    }
</script>
    
{% endblock %}
