{% extends 'base.html.twig' %}

{% block title %}TalentBlend - Accueil{% endblock %}

{% block body %}
<div class="bg">
    <h1>Talentueux ? Rencontrez l'<span>Opportunité</span>.</h1>
    {{ render(controller('App\\Controller\\FormController::searchForm', {'isHomePage': true}, {'isHomePage': true})) }}
</div>

<div class="content-wrapper">
    {% if is_granted('ROLE_CANDIDAT') %}
        <div class="vous-etes">
            <div class="candidat">
                <h2>Trouvez l'emploi qui vous correspond</h2>
                <p>Trouvez des offres d'emploi selon votre domaine de compétence et postulez en un clic.</p>
                <a href="{{ path('app_categories') }}">Trouver un emploi</a>
                <img src="{{ asset('img/recruteur.svg') }}" alt="Illustration d'une recruteuse">
            </div>
            <div class="recruteur">
                <h2>Mettez en avant votre profil</h2>
                <p>Créez et mettez à jour votre profil professionnel pour trouver de nouvelles opportunités d'emploi.</p>
                <a data-turbo="false" href="{{ path('app_candidat_edit', {'id': app.user.id}) }}">Déposer mon CV</a>
                <img src="{{ asset('img/candidat.svg') }}" alt="Illustration d'un candidat qui rédige son cv">
            </div>
        </div>
    {% elseif is_granted('ROLE_RECRUTEUR') %}
        <div class="vous-etes">
            <div class="candidat">
                <h2>Publier une offre d'emploi</h2>
                <p>Publier une offre d'emploi et trouvez des professionnels en France et dans divers domaines de compétence.</p>
                <a data-turbo="false" href="{{ path('app_new_emploi') }}">Publier une offre</a>
                <img src="{{ asset('img/recruteur.svg') }}" alt="Illustration d'une recruteuse">
            </div>
            <div class="recruteur">
                <h2>Découvrez des profils talentueux</h2>
                <p>Consultez les profils des candidats et trouvez le profil qui correspond à votre offre d'emploi.</p>
                <a href="{{ path('app_search_candidat') }}">Trouver un candidat</a>
                <img src="{{ asset('img/candidat.svg') }}" alt="Illustration d'un candidat qui rédige son cv">
            </div>
        </div>
    {% else %}
        <div class="vous-etes">
            <div class="candidat">
                <h2>Pour les recruteurs</h2>
                <p>Trouvez des professionnels en France et dans divers domaines de compétence.</p>
                <a href="{{ path('app_register') }}">Publier une offre</a>
                <img src="{{ asset('img/recruteur.svg') }}" alt="Illustration d'une recruteuse">
            </div>
            <div class="recruteur">
                <h2>Pour les candidats</h2>
                <p>Créer votre profil professionnel, trouvez de nouvelles opportunités d’emploi.</p>
                <a href="{{ path('app_register') }}">Déposer mon CV</a>
                <img src="{{ asset('img/candidat.svg') }}" alt="Illustration d'un candidat qui rédige son cv">
            </div>
        </div>
    {% endif %}
    
    <div class="categories">
        <div class="cat-head">
            <h3>Catégorie populaire</h3>
            <p>Trouvez des offres d'emploi selon votre domaine de compétence.</p>
        </div>
        <div class="cat-body">
            {% for categorie in categories %}
                <a href="{{ path('app_emplois_par_categorie', {'id': categorie.id }) }}" class="item">
                    <p>{{ categorie.nom }}</p>
                    <p>{{ categorie.nbEmplois }} emplois</p>
                </a>
            {% endfor %}
        </div>
        <div class="cat-footer">
            <a href="{{ path('app_categories') }}">Voir toutes les catégories</a>
        </div>
    </div>
</div>

<div class="newsletter">
    <div>
        <div class="news-head">
            <img src="{{ asset('img/newsletter.png')}}" alt="">
            <div>
                <h3>Abonnez-vous à notre newsletter</h3>
                <p>Nous vous enverrons les dernières offres d'emploi correspondant à vos critères</p>
            </div>
        </div>
        <form action="">
            <input type="email" placeholder="Votre adresse email">
            <button type="submit" class="abonner">S'abonner</button>
        </form>
    </div>
</div>

{% endblock %}
