{% extends 'base.html.twig' %}

{% block title %}TalentBlend - Accueil{% endblock %}

{% block body %}
<div class="bg">
    <h1>Talentueux ?<br>Rencontrez l'<span>Opportunité</span>.</h1>
    {{ render(controller('App\\Controller\\FormController::searchForm')) }}
</div>

{# Si aucun utilisateur n'est connecter #}
{% if not app.user %}
    <div class="vous-etes">
        <div class="candidat">
            <h2>Pour les recruteurs</h2>
            <p>Trouvez des professionnels en France et dans divers domaines de compétence.</p>
            <a href="{{ path('app_register') }}">Publier une offre</a>
            <img src="{{ asset('img/recruteur.svg') }}" alt="Illustration d'une recruteuse">
        </div>
        <div class="recruteur">
            <h2>Pour les candidats</h2>
            <p>Créer votre profil professionnel, trouvez de nouvelles opportunités d’emploi.</p>
            <a href="{{ path('app_register') }}">Déposer mon CV</a>
            <img src="{{ asset('img/candidat.svg') }}" alt="Illustration d'un candidat qui rédige son cv">
        </div>
    </div>
{% endif %}

{# Afficher les offres d'emploi #}

{# Afficher un formulaire de recherche de candidat si l'utilisateur est un recruteur #}
{% if is_granted('ROLE_RECRUTEUR') %}
    <a href="{{ path('app_search_candidat') }}">Rechercher un candidat</a>
{% endif %}

{% endblock %}
