{% extends 'base.html.twig' %}

{% block title %}TalentBlend - Accueil{% endblock %}

{% block body %}
<div class="bg">
    <h1>Talentueux ? Rencontrez l'<span>Opportunité</span>.</h1>
    {{ form_start(form, {'attr': {'class': 'search-form'}}) }}
    <div class="form-group-search">
        <div class="input-group">
            {{ form_widget(form.poste, {'attr': {'class': 'form-control-search', 'placeholder': 'Rechercher emplois'}}) }}
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="form-group-search">
        <div class="input-group">
            {{ form_widget(form.ville, {'attr': {'class': 'form-control-search', 'placeholder': 'Saisir un lieu'}}) }}
            <i class="fa-solid fa-location-dot"></i>
        </div>
    </div>
    <div class="form-group-search">
        <button class="submit-search" type="submit">Rechercher</button>
    </div>
    {{ form_end(form) }}
    {% if is_granted('ROLE_RECRUTEUR') or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_search_candidat') }}"><i class="fa-solid fa-arrow-right-long"></i> Rechercher un candidat</a>
    {% endif %}
</div>

<div class="content-wrapper">
    <div class="vous-etes">
        <div class="candidat">
            <h2>Pour les recruteurs</h2>
            <p>Trouvez des professionnels en France et dans divers domaines de compétence.</p>
            {% if is_granted('ROLE_RECRUTEUR') %}
                <a href="{{ path('app_new_emploi') }}">Publier une offre</a>
            {% elseif is_granted('ROLE_CANDIDAT') %}
                <a href="#">Inscription recruteur requis</a>
            {% else %}
                <a href="{{ path('app_emplois') }}">Publier une offre</a>
            {% endif %}
            <img src="{{ asset('img/recruteur.svg') }}" alt="Illustration d'une recruteuse">
        </div>
        <div class="recruteur">
            <h2>Pour les candidats</h2>
            <p>Créer votre profil professionnel, trouvez de nouvelles opportunités d’emploi.</p>
            {% if is_granted('ROLE_CANDIDAT') %}
                <a href="{{ path('app_candidat_edit', {'id': app.user.id}) }}">Déposer mon CV</a>
            {% elseif is_granted('ROLE_RECRUTEUR') %}
                <a href="#">Inscription candidat requis</a>
            {% else %}
                <a href="{{ path('app_register') }}">Déposer mon CV</a>
            {% endif %}
            <img src="{{ asset('img/candidat.svg') }}" alt="Illustration d'un candidat qui rédige son cv">
        </div>
    </div>
    
    <div class="categories">
        <div class="cat-head">
            <h3>Catégorie populaire</h3>
            <p>Trouvez des offres d'emploi selon votre domaine de compétence.</p>
        </div>
        <div class="cat-body">
            {% for categorie in categories %}
                <a href="{{ path('app_emplois_par_categorie', {'id': categorie.id }) }}" class="item">
                    <p>{{ categorie.nom }}</p>
                    <p>{{ categorie.nbEmplois }} emplois</p>
                </a>
            {% endfor %}
        </div>
        <div class="cat-footer">
            <a href="{{ path('app_categories') }}">Voir toutes les catégories</a>
        </div>
    </div>
</div>

{% endblock %}
