{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="wrapper">
            <form method="post">
                {{ form_start(registrationForm) }}
                {{ form_errors(registrationForm) }}
                
                <h2>Créer un compte gratuitement</h2>
                
                <div class="choice">
                    {{ form_widget(registrationForm.role, {'id': 'inputRole'}) }}
                </div>

                <div class="form-group">
                    <div>
                        <label for="inputEmail">Adresse email</label>
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'exemple@gmail.com'}, 'id': 'inputEmail'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label for="inputNom">Nom</label>
                        {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Doe'}, 'id': 'inputNom'}) }}
                    </div>
                    <div>
                        <label for="inputPrenom">Prénom</label>
                        {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'John'}, 'id': 'inputPrenom'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label for="inputPassword">Mot de passe</label>
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Entrer un mot de passe', 'type': 'password'}, 'id': 'inputPassword'}) }}
                    </div>
                    <div>
                        <label for="inputConfirmPassword">Confirmer le mot de passe</label>
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le mot de passe', 'type': 'password'}, 'id': 'inputConfirmPassword'}) }}
                    </div>
                </div>
                <div>
                    {{ form_errors(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-check">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">J’accepte les <a href="">termes d’utilisateurs</a> et la <a href="">politique de confidentialité</a></label>
                </div><br>

                <button class="btn btn-lg btn-primary" type="submit">Inscription</button>

                <p class="haveacc">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
                {{ form_rest(registrationForm) }}
                {{ form_end(registrationForm) }}
            </form>
        </div>
    </div>
    <script>
        // Sélectionnez les champs de mot de passe
        var passwordField = document.getElementById('inputPassword');
        var confirmPasswordField = document.getElementById('inputConfirmPassword');
    
        // Créez des éléments pour afficher la force du mot de passe
        var passwordStrengthMessage = document.createElement('p');
        var confirmPasswordStrengthMessage = document.createElement('p');
    
        // Ajoutez les messages de force du mot de passe sous les champs de mot de passe
        passwordField.parentNode.appendChild(passwordStrengthMessage);
        confirmPasswordField.parentNode.appendChild(confirmPasswordStrengthMessage);
    
        // Définissez l'expression régulière pour la validation du mot de passe
        var strongPasswordRegex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{12,}$/;
        var mediumPasswordRegex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/;
    
        // Ajoutez un écouteur d'événement 'keyup' pour chaque champ de mot de passe
        passwordField.addEventListener('keyup', validatePassword);
        confirmPasswordField.addEventListener('keyup', validatePassword);
    
        function validatePassword(event) {
            // Vérifiez si le mot de passe correspond à l'expression régulière
            if (strongPasswordRegex.test(event.target.value)) {
                // Si le mot de passe est fort, changez la couleur de la bordure du champ en vert et affichez un message
                event.target.style.borderColor = 'green';
                event.target.nextSibling.textContent = 'Mot de passe fort';
            } else if (mediumPasswordRegex.test(event.target.value)) {
                // Si le mot de passe est moyen, changez la couleur de la bordure du champ en orange et affichez un message
                event.target.style.borderColor = 'orange';
                event.target.nextSibling.textContent = 'Mot de passe moyen';
            } else {
                // Si le mot de passe est faible, changez la couleur de la bordure du champ en rouge et affichez un message
                event.target.style.borderColor = 'red';
                event.target.nextSibling.textContent = 'Mot de passe faible';
            }
        }
    </script>
{% endblock %}