{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}

<div class="file-ariane" style="display: flex;">
    <a href="{{ path('app_home')}}">Accueil</a>
    >
    <p>{{ categorie }}</p>
</div>

    <h1>Emplois par catégorie {{ categorie }}</h1>

    {% for emploi in emplois %}
        <a href="{{ path('app_show_emploi', {'id': emploi.id}) }}">{{ emploi }}</a> <br>        
    {% endfor %}

{% endblock %}