{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ categorie }}{% endblock %}

{% block body %}
    
<div class="mt-5">
    <div class="filter">
        <p>{{ emplois|length }} emplois pour la catégorie {{ categorie }}</p>
        <button><i class="fa-solid fa-sliders"></i> Filtrer</button>
    </div>
</div>

<main class="search-emploi-result">
    <div class="result-wrapper">

        <aside class="filter">
            {# Panneau des filtres #}
            <div class="filter-panel" style="display: none;">
                <div class="filter-panel-head">
                    <h3>Filtrer</h3>
                </div>
                <div class="filter-panel-body">
                    <div class="filter-panel-body-item">
                        <h4>Type d'emploi</h4>
                        {# Type checkbox #}
                        <div class="checkbox">
                            <label>
                                <input name="type" type="checkbox" value="fulltime">
                                <span>Temps plein</span>
                            </label>
                            <label>
                                <input name="type" type="checkbox" value="parttime">
                                <span>Temps partiel</span>
                            </label>
                            <label>
                                <input name="type" type="checkbox" value="remote">
                                <span>Télétravail</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter-panel-body-item">
                        <h4>Type de contrat</h4>
                        {# Type checkbox #}
                        <div class="checkbox">
                            <label>
                                <input name="contract" type="checkbox" value="cdi">
                                <span>CDI</span>
                            </label>
                            <label>
                                <input name="contract" type="checkbox" value="cdd">
                                <span>CDD</span>
                            </label>
                            <label>
                                <input name="contract" type="checkbox" value="stage">
                                <span>Stage</span>
                            </label>
                            <label>
                                <input name="contract" type="checkbox" value="alternance">
                                <span>Alternance</span>
                            </label>
                            <label>
                                <input name="contract" type="checkbox" value="Interim">
                                <span>Interim</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter-panel-body-item">
                        <h4>Publié le</h4>
                        {# Type radio #}
                        <div class="radio">
                            <label>
                                <input name="recency" type="radio" value="any" checked="">
                                <span>Toutes dates</span>
                            </label>
                            <label>
                                <input name="recency" type="radio" value="24h">
                                <span>Aujourd'hui</span>
                            </label>
                            <label>
                                <input name="recency" type="radio" value="7d">
                                <span>La semaine dernière</span>
                            </label>
                            <label>
                                <input name="recency" type="radio" value="30d">
                                <span>Le mois dernier</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <form method="get" action="{{ path('app_emplois_par_categorie', {'id': categorie.id}) }}">
                {{ form_start(form) }}
                {{ form_row(form.typeEmplois) }}
                {{ form_row(form.contrats) }}
                {{ form_row(form.dateOffre) }}
                <button type="submit">Filtrer</button>
                {{ form_end(form) }}
            </form>
        </aside>
    
        <div class="result-container">
            {% if emplois is not empty %}
                {% for emploi in emplois %}
                    <div class="result" data-url="{{ path('app_show_emploi', {'id': emploi.id}) }}">
                        <div class="result-head">
                            <div class="logo-new">
                                {% if emploi.entreprise.logo %}
                                    <img src="{{ asset('logo/' ~ emploi.entreprise.logo) }}" alt="Logo de l'entreprise">
                                {% else %}
                                    <p>{{ emploi.entreprise.raisonSocial|first }}</p>
                                {% endif %}
                                {# Si la date de publication de l'emploi date d'aujourd'hui #}
                                {% if emploi.dateOffre|date('Y-m-d') == 'now'|date('Y-m-d') %}
                                    <span>Nouveau!</span>
                                {% endif %}
                            </div>
                            {# Si l'emploi est déjà sauvegardé par l'utilisateur en session avec savedEmplois #}
                            {% if emploi in savedEmplois  %}
                                {# <a href="{{ path('app_emploi_delete', {'id': emploi.id, 'origin': 'resultats'}) }}"><i class="fa-solid fa-heart"></i></a> #}
                                <i class="fa-solid fa-heart"></i>
                            {% else %}
                                {# <a href="{{ path('app_emploi_save', {'id': emploi.id}) }}"><i class="fa-regular fa-heart"></i></a> #}
                                <i class="fa-regular fa-heart"></i>
                            {% endif %}
                        </div>
                        <div class="result-body">
                            <!-- Titre de l'offre d'emploi -->
                            <h3>{{ emploi }}</h3>
                            <p>Par 
                                <a href="{{ path('app_emplois_par_entreprise', {'id': emploi.entreprise.id}) }}">{{ emploi.entreprise }}</a>
                                dans 
                                <a href="{{ path('app_emplois_par_categorie', {'id': emploi.categories.id }) }}">{{ emploi.categories }}</a>
                                {% set days = date('now')|date_modify('-' ~ emploi.dateOffre|date('U') ~ ' seconds')|date('z') %}
                            {% if days == 0 %}
                            <p>Aujourd'hui</p>
                            {% else %}
                                <p>Il y'a {{ days }} 
                                    {% if days == 1 %}
                                        jour
                                    {% else %}
                                        jours
                                    {% endif %}
                                </p>
                            {% endif %}
                            </p>
                        </div>
                        <div class="result-footer">
                            <span>{{ emploi.types }}</span>
                            <span>{{ emploi.contrats }}</span>
                            <span>{{ emploi.ville }}</span>
                            <span>{{ emploi.salaire }} € Par an</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun emploi trouvé</p>
            {% endif %}
        </div>
        
    </div>
</main>
    {{ knp_pagination_render(emplois) }}

<script>
    // Rediriger l'utilisateur vers la page de l'emploi lorsqu'il clique sur un résultat
    document.querySelectorAll('.result').forEach(function(element) {
        element.addEventListener('click', function() {
            var url = this.getAttribute('data-url');
            if (url) {
                window.location = url;
            }
        });
    });
</script>

{% endblock %}