{% extends 'base.html.twig' %}

{% block title %}Détail de {{ emploi }}{% endblock %}

{% block meta_description %}Détail de l'offre d'emploi {{ emploi }}{% endblock %}

{% block body %}

<main class="show show-job">
    <div>
        <div class="left-side">
            <div class="entreprise-banniere">
                {% if emploi.entreprise.banniere %}
                    <img src="{{ asset('logo/' ~ emploi.entreprise.banniere) }}" alt="Banniere de l'entreprise">
                {% else %}
                    <img src="{{ asset('img/linked-in-banner.png') }}" alt="Banniere de l'entreprise">
                {% endif %}
            </div>
            <div class="detail-head">
                <div class="head">
                    <div class="logo-new">
                        {% if emploi.entreprise.logo %}
                            <img src="{{ asset('logo/' ~ emploi.entreprise.logo) }}" alt="Logo de l'entreprise">
                        {% else %}
                            <p>{{ emploi.entreprise.raisonSocial|first }}</p>
                        {% endif %}
                        {# Si la date de publication de l'emploi date d'aujourd'hui #}
                        {% if emploi.dateOffre|date('Y-m-d') == 'now'|date('Y-m-d') %}
                            <span class="new">Nouveau!</span>
                        {% endif %}
                    </div>
                    <div class="result-body">
                        <h3>{{ emploi }}</h3>
                        <p>Par 
                            <a href="{{ path('app_emplois_par_entreprise', {'id': emploi.entreprise.id}) }}">{{ emploi.entreprise }}</a>
                            dans 
                            <a href="{{ path('app_emplois_par_categorie', {'id': emploi.categories.id }) }}">{{ emploi.categories }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="info-poste">
                <h4>Informations sur le poste</h4>
                <div class="info-items">
                    <div class="item">
                        <div class="icon">
                            <i class="fa-regular fa-calendar-check"></i>
                        </div>
                        <div class="text">
                            <p>Date de publication</p>
                            {% set days = date('now')|date_modify('-' ~ emploi.dateOffre|date('U') ~ ' seconds')|date('z') %}
                            {% if days == 0 %}
                            <p>Aujourd'hui</p>
                            {% else %}
                                <p>Il y'a {{ days }} 
                                    {% if days == 1 %}
                                        jour
                                    {% else %}
                                        jours
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="fa-regular fa-calendar-xmark"></i>
                        </div>
                        <div class="text">
                            <p>Date d'expiration</p>
                            <p>
                                {% if emploi.dateExpiration < date() %}
                                    Expirée
                                {% else %}
                                    Dans {{ emploi.dateExpiration|date_modify('-' ~ date('now')|date('U') ~ ' seconds')|date('z') }} jours
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="fa-solid fa-location-crosshairs"></i>
                        </div>
                        <div class="text">
                            <p>Lieu de travail</p>
                            <p>{{ emploi.ville }}</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <i class="fa-solid fa-euro-sign"></i>
                        </div>
                        <div class="text">
                            <p>Salaire</p>
                            <p>
                                {% if emploi.showBy == 'echelle' %}
                                    {{ emploi.salaireMinimum|number_format(0, '.', ' ') }}€ - {{ emploi.salaire|number_format(0, '.', ' ') }}€ 
                                {% elseif emploi.showBy == 'montantMaximum' %}
                                    {{ emploi.salaire|number_format(0, '.', ' ') }}€ 
                                {% elseif emploi.showBy == 'montantMinimum' %}
                                    {{ emploi.salaireMinimum|number_format(0, '.', ' ') }}€
                                {% else %}
                                    Salaire négociable
                                {% endif %}
                                {% if emploi.showBy != 'negociable' %}
                                    {{ emploi.taux }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="show-hide">
                        <div class="item">
                            <div class="icon">
                                <i class="fa-solid fa-medal"></i>
                            </div>
                            <div class="text">
                                <p>Expérience</p>
                                <p>{{ emploi.niveau }} ans</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <i class="fa-regular fa-file-lines"></i>
                            </div>
                            <div class="text">
                                <p>Contrat</p>
                                <p>{{ emploi.contrats }}</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <i class="fa-solid fa-hourglass-half"></i>
                            </div>
                            <div class="text">
                                <p>Type de contrat</p>
                                <p>{{ emploi.types }}</p>
                            </div>
                        </div>
                        <span class="hide-btn">Voir moins <i class="fa-solid fa-chevron-up"></i></span>
                    </div>
                    <span class="show-btn">Voir plus <i class="fa-solid fa-chevron-down"></i></span>
                    <div class="item resp">
                        <div class="icon">
                            <i class="fa-solid fa-medal"></i>
                        </div>
                        <div class="text">
                            <p>Expérience</p>
                            <p>{{ emploi.niveau }} ans</p>
                        </div>
                    </div>
                    <div class="item resp">
                        <div class="icon">
                            <i class="fa-regular fa-file-lines"></i>
                        </div>
                        <div class="text">
                            <p>Contrat</p>
                            <p>{{ emploi.contrats }}</p>
                        </div>
                    </div>
                    <div class="item resp">
                        <div class="icon">
                            <i class="fa-solid fa-hourglass-half"></i>
                        </div>
                        <div class="text">
                            <p>Type de contrat</p>
                            <p>{{ emploi.types }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description-offre">
                <h4>Description</h4>
                <p>{{ emploi.description }}</p>
            </div>
        </div>
        <aside class="info-entreprise">
            <div class="sticky">
                <div>
                    {% if is_granted('ROLE_CANDIDAT') %}
                    <div class="mobile-footerstyle desk">
                        <h4>Ce poste vous intéresse ?</h4>
                        <div>
                            {% if not dejaPostuler %}
                            {% if app.user.active %}
                                <a href="{{ path('app_postuler', {'id': emploi.id}) }}"><i class="fa-solid fa-bolt"></i> Postuler</a>
                            {% else %}
                                <a class="openModal" style="cursor: pointer;">Postuler</a>
                            {% endif %}
                            {% else %}
                                <a href="{{ path('app_candidature_cv_delete', {'id': dejaPostuler.id, 'origin': 'detail'}) }}">Retirer ma candidature</a>
                            {% endif %}
                            {% if not alreadySaved %}
                                <a class="save-emploi-link" href="{{ path('app_emploi_save', {'id': emploi.id}) }}" data-save-url="{{ path('app_emploi_save', {'id': emploi.id}) }}" data-delete-url="{{ path('app_emploi_delete', {'id': emploi.id}) }}" data-saved="false"><i class="fa-regular fa-heart"></i></a>
                            {% else %}
                                <a class="save-emploi-link" href="{{ path('app_emploi_delete', {'id': emploi.id}) }}" data-save-url="{{ path('app_emploi_save', {'id': emploi.id}) }}" data-delete-url="{{ path('app_emploi_delete', {'id': emploi.id}) }}" data-saved="true"><i class="fa-solid fa-heart"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-postuler">
                        <form action="{{ path('app_postuler_cv', {'id': emploi.id}) }}" method="POST" enctype="multipart/form-data">
                            <label for="cv">Votre CV</label>
                            <input type="file" name="cv" id="cv" accept=".pdf" required="true">
                            <label>Un message pour attirer l'attention du recruteur ?</label>
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Votre message ici..."></textarea>
                            <div class="action">
                                <button type="submit">Envoyer</button>
                                <button type="button" class="closeModal">Annuler</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-overlay"></div>
                    
                    {% elseif not app.user %}
                    <div class="mobile-footerstyle desk">
                        <div>
                            <a href="{{ path('app_register') }}"><i class="fa-solid fa-bolt"></i> Postuler</a>
                            <a href="{{ path('app_register') }}"><i class="fa-regular fa-heart"></i></a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="entreprise-info-head" data-controller="entreprise">
                    <div class="logo">
                        {% if emploi.entreprise.logo %}
                            <img src="{{ asset('logo/' ~ emploi.entreprise.logo) }}" alt="Logo de l'entreprise">
                        {% else %}
                            <p>{{ emploi.entreprise.raisonSocial|first }}</p>
                        {% endif %}
                        <h3>{{ emploi.entreprise }}</h3>
                    </div>
                    <ul>
                        <li class="active" data-entreprise-target="infoBtn" data-action="click->entreprise#showInfo">Aperçu</li>
                        <li data-entreprise-target="emploiBtn" data-action="click->entreprise#showEmploi">Emplois <span>{{ emploisDeLEntreprise|length }}</span></li>
                    </ul>
                    <div class="tab-info-entreprise" data-entreprise-target="info">
                        <p>{{ emploi.entreprise.description }}</p>
                        <div class="info-item">
                            <p>Secteur</p>
                            <p>{{ emploi.entreprise.secteur }}</p>
                        </div>
                        <div class="info-item">
                            <p>Taille de la société</p>
                            <p>{{ emploi.entreprise.tailles }} salariés</p>
                        </div>
                        <div class="info-item">
                            <p>Siège social</p>
                            <p>{{ emploi.entreprise.ville }}</p>
                        </div>
                        {% if emploi.entreprise.website %}
                            <div class="info-item">
                                <p>Site web</p>
                                <p><a href="{{ emploi.entreprise.website }}"><span>{{ emploi.entreprise }}</span> <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
                            </div>
                        {% endif %}
                        <div class="info-item">
                            <p>Année de création</p>
                            <p>{{ emploi.entreprise.dateCreation|date("Y") }}</p>
                        </div>
                    </div>
                    <div class="tab-emploi-entreprise" data-entreprise-target="emploi">
                        {# afficher 5 emplois maximum de cet entreprise #}
                        {% for emploi in emploisDeLEntreprise|slice(0, 5) %}
                            <div class="emploi-item">
                                <div class="text">
                                    <a href="{{ path('app_show_emploi', {'id': emploi.id}) }}">{{ emploi }}</a>
                                    <a href="{{ path('app_emplois_par_categorie', {'id': emploi.categories.id }) }}">{{ emploi.categories }}</a>
                                </div>
                            </div>
                        {% endfor %}
                        {# Si l'entreprise a plus de 5 emplois #}
                        {% if emploisDeLEntreprise|length > 5 %}
                            <a href="{{ path('app_emplois_par_entreprise', {'id': emploi.entreprise.id}) }}">Voir tout les emplois</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </aside>
    </div>

    {% if is_granted('ROLE_CANDIDAT') %}
        <div class="mobile-footerstyle">
        <h4>Ce poste vous intéresse ?</h4>
        {% if not dejaPostuler %}
        {% if app.user.active %}
            <a href="{{ path('app_postuler', {'id': emploi.id}) }}"><i class="fa-solid fa-bolt"></i> Postuler</a>
        {% else %}
            <a class="openModal" style="cursor: pointer;">Postuler</a>
        {% endif %}
        {% else %}
            <a href="{{ path('app_candidature_cv_delete', {'id': dejaPostuler.id, 'origin': 'detail'}) }}">Retirer ma candidature</a>
        {% endif %}
        {% if not alreadySaved %}
            <a class="save-emploi-link like-hide" href="{{ path('app_emploi_save', {'id': emploi.id}) }}" data-save-url="{{ path('app_emploi_save', {'id': emploi.id}) }}" data-delete-url="{{ path('app_emploi_delete', {'id': emploi.id}) }}" data-saved="false"><i class="fa-regular fa-heart"></i></a>
        {% else %}
            <a class="save-emploi-link like-hide" href="{{ path('app_emploi_delete', {'id': emploi.id}) }}" data-save-url="{{ path('app_emploi_save', {'id': emploi.id}) }}" data-delete-url="{{ path('app_emploi_delete', {'id': emploi.id}) }}" data-saved="true"><i class="fa-solid fa-heart"></i></a>
        {% endif %}
        </div>
        {% elseif not app.user %}
        <div class="mobile-footerstyle">
            <a href="{{ path('app_register') }}"><i class="fa-solid fa-bolt"></i> Postuler</a>
            <a href="{{ path('app_register') }}"><i class="fa-regular fa-heart"></i></a>
        </div>
        {% endif %}
</main>
<script>
    document.addEventListener('turbo:load', function () {
        // Ouvrir la modal pour envoyer un message
        const openModal = document.querySelectorAll('.openModal');
        const modal = document.querySelector('.modal-postuler');
        const overlay = document.querySelector('.modal-overlay');
        const closeModal = document.querySelector('.closeModal');
    
        openModal.forEach((btn) => {
            btn.addEventListener('click', () => {
                modal.classList.add('active');
                overlay.classList.add('active');
            });
        });
    
        closeModal.addEventListener('click', () => {
            modal.classList.remove('active');
            overlay.classList.remove('active');
        });
    
        overlay.addEventListener('click', () => {
            modal.classList.remove('active');
            overlay.classList.remove('active');
        });
    })
</script>
{% endblock %}
