{% extends 'dashboard.html.twig' %}

{% block title %}Liste Entreprise{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Gérez vos Entreprise</h2>
    <div class="table-wrapper">
        <table>
            <colgroup span="4"></colgroup>
            <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Status</th>
                    <th>Emploi active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entreprise in entrepriseRepresenter %}
                {% if entreprise.entreprise.isVerified == true %}
                <tr>
                    <td>{{ entreprise }} {{ entreprise.entreprise.id }}</td>
                    <td>
                        {% if entreprise.status == true %}
                            <span style="color: green;">Approuvé</span>
                        {% elseif entreprise.status == false %}
                            <span style="color: rgb(245, 205, 47);">Vérification</span>
                        {% endif %}
                    </td>

                    {# Filtrer les emplois par l'utilisateur en session #}
                    {# Afficher le nombre d'emplois créés par l'utilisateur en session #}
                    <td>{{ entreprise.entreprise.emplois|filter(emploi => emploi.user.id == app.user.id)|length }}</td>

                    <td class="td-action">
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="action">
                            {% if entreprise.entreprise.user == app.user %}
                                <a href="{{ path('app_edit_entreprise', {'id': entreprise.entreprise.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
                                <a href="{{ path('app_delete_entreprise', {'id': entreprise.entreprise.id}) }}"><i class="fa-solid fa-xmark"></i> Supprimer</a>
                            {% endif %}
                                <a href=""><i class="fa-solid fa-expand"></i> Voir</a>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <table>
            <colgroup span="2"></colgroup>
            <thead>
                <tr>
                    <th><i class="fa-regular fa-clock" style="color: #ebd805;"></i> Entreprise non vérifié</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for entreprise in entrepriseRepresenter %}
                    {% if entreprise.entreprise.isVerified is null %}
                        <tr>
                            <td>{{ entreprise }}</td>
                            <td><span style="color: rgb(245, 205, 47);">Vérification</span></td>
                        </tr>
                    {% elseif entreprise.entreprise.isVerified == 0 %}
                        <tr>
                            <td>{{ entreprise }}</td>
                            <td>
                                <span style="color: rgb(243, 63, 63);">
                                    Rejeter 
                                    <i class="fa-solid fa-circle-info"></i>
                                    <div class="motif">
                                        <div>
                                            <strong>Motif de rejet :</strong>
                                            <p>- {{ entreprise.motifRefus }}</p>
                                            <p><em>Vous pouvez demander une nouvelle vérification en cliquant sur le bouton ci-dessous.</em></p>
                                            <a href="{{ path('app_edit_entreprise', {'id': entreprise.entreprise.id}) }}">Demander une nouvelle vérification</a>
                                        </div>
                                    </div>
                                    <div class="overlay"></div>
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_new_represente') }}">Ajouter une entreprise</a>
</div>
<style>
    .fa-circle-info {
        cursor: pointer;
    }

    div.motif div {
        position: absolute;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        z-index: 5;
        display: none;
    }

    div.motif div.active {
        display: block;
    }

    div.motif div p:first-of-type {
        margin-block: 20px;
        color: rgb(241, 51, 51);
    }

    div.motif div a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007456;
        color: #fff;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 20px;
    }

    div.motif div a:hover {
        background-color: #02644a;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: #171d22;
        z-index: 1; 
        transition: all 300ms ease-in-out;
        visibility: hidden;
    }
    
    .active-overlay {
        opacity: 0.50;
        visibility: visible;
    }
</style>
    
<script>

    const motif = document.querySelectorAll('.fa-circle-info');
    const overlay = document.querySelectorAll('.overlay');
    const motifDiv = document.querySelectorAll('.motif div');

    motif.forEach((el, index) => {
        el.addEventListener('click', () => {
            motifDiv[index].classList.toggle('active');
            overlay[index].classList.toggle('active-overlay');
        });
    });

    overlay.forEach((el, index) => {
        el.addEventListener('click', () => {
            motifDiv[index].classList.toggle('active');
            overlay[index].classList.toggle('active-overlay');
        });
    });

</script>
{% endblock %}
