{% extends 'dashboard.html.twig' %}

{% block title %}Liste Entreprise{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Gérez vos Entreprise</h2>
    <div class="table-wrapper">
        <table>
            <colgroup span="4"></colgroup>
            <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Status</th>
                    <th>Emploi active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entreprise in entrepriseRepresenter %}
                <tr>
                    <td>{{ entreprise }}</td>
                    <td>
                        {% if entreprise.status == true %}
                            <span style="color: green;">Approuvé</span>
                        {% elseif entreprise.status == false %}
                            <span style="color: rgb(245, 205, 47);">Vérification</span>
                        {% endif %}
                    </td>
                    {# On affiche le nombre d'emploi actif de l'entreprise créer par le recruteur #}
                    <td>{{ emploisParEntreprise[entreprise.id] }}</td>
                    <td class="td-action">
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="action">
                            {# <a href="{{ path('app_edit_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Modifier</a> #}
                            {# <a href="{{ path('app_delete_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-xmark"></i> Supprimer</a> #}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table>
            <colgroup span="1"></colgroup>
            <thead>
                <tr>
                    <th><i class="fa-regular fa-clock" style="color: #ebd805;"></i> Entreprise en attente de validation</th>
                </tr>
            </thead>
            <tbody>
            {% for entreprise in entrepriseRepresenterNonVerifie %}
                <tr>
                    <td>{{ entreprise }}</td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_new_entreprise') }}">Ajouter une entreprise</a>
</div>
{% endblock %}
