{% extends 'dashboard.html.twig' %}

{% block title %}Détail de la Représentation{% endblock %}

{% block body %}
<div class="wrapper">
    <h2 class="title">{{ representation.userEntreprise }} souhaite représenter {{ representation }}</h2>
    <div class="section-wrapper">
        <div class="kbis">
            <p>KBIS fourni par le recruteur: <a href="{{ asset('kbis/' ~ representation.kbis) }}" target="_blank" class="kbis-link"><i class="fa-solid fa-file-pdf"></i> Voir le KBIS</a></p>
            <p>KBIS de l'entreprise: <a href="{{ asset('kbis/' ~ representation.entreprise.kbis) }}" target="_blank" class="kbis-link"><i class="fa-solid fa-file-pdf"></i> Voir le KBIS</a></p>
            <div class="accept">
                <a href="{{ path('app_valider_representation', {'id': representation.id}) }}" class="validation-link"><i class="fa-solid fa-clipboard-check"></i> Valider la representation</a>
            </div>
            <div class="refusal">
                <p>Refuser la representation</p>
                <form action="{{ path('app_refuser_representation', {'id': representation.id}) }}" method="post">
                    <input type="text" name="motifRefus" placeholder="Motif du refus" class="refusal-input">
                    <button type="submit" value="Envoyer" class="refusal-submit"><i class="fa-solid fa-xmark"></i> Refuser</button>
                </form>
            </div>
        </div>

        <div class="history">
            <h3>Historique</h3>
            {% if representation.motifRefus %}
                <p>La representation a été refusé pour la raison suivante :</p>
                <p class="motif">{{ representation.motifRefus }}</p>
            {% else %}
                <p>La representation n'a pas encore été refusé</p>
            {% endif %}
        </div>

        <div class="entreprise-info">
            <p><span><i class="fas fa-building"></i> Raison sociale :</span>{{ representation.entreprise.raisonSocial }}</p>
            <p><span><i class="fas fa-industry"></i> Secteur :</span> {{ representation.entreprise.secteur }}</p>
            <p><span><i class="fas fa-globe"></i> Site web :</span> <a href="{{ representation.entreprise.website }}" class="website-link">{{ representation.entreprise.website }}</a></p>
            <p><span><i class="fas fa-map-marker-alt"></i> Ville :</span> {{ representation.entreprise.ville }}</p>
            <p><span><i class="fas fa-users"></i> Taille :</span> {{ representation.entreprise.tailles }}</p>
            <p><span><i class="fas fa-info-circle"></i> Description :</span> {{ representation.entreprise.description }}</p>
            <p><span><i class="fas fa-calendar-alt"></i> Date de création :</span> {{ representation.entreprise.dateCreation|date("Y") }}</p>
        </div>
    </div>
</div>

<style>
    .kbis > p {
        margin-bottom: 1.5rem;
    }
</style>
{% endblock %}
