{% extends 'base.html.twig' %}

{% block title %}Résultat pour {{ searchInfo }}{% endblock %}

{% block body %}

<div class="bg candidat">
    <h1>Recrutez des <span>talents</span> pour votre entreprise.</h1>
    {{ form_start(form, {'attr': {'class': 'search-form'}}) }}
    <div class="form-group-search">
        <div class="input-group">
            {{ form_widget(form.metiers, {'value': data.metiers is defined ? data.metiers : ''},  {'attr': {'class': 'form-control-search', 'placeholder': 'Rechercher un candidat'}}) }}
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="form-group-search">
        <div class="input-group">
            {{ form_widget(form.villes, {'attr': {'class': 'form-control-search', 'placeholder': 'Saisir un lieu'}}) }}
            <i class="fa-solid fa-location-dot"></i>
        </div>
    </div>
    <div class="form-group-search">
        <button class="submit-search" type="submit">Rechercher</button>
    </div>
    {{ form_end(form) }}
</div>

<div class="result-info">
    <div class="search-result">
        <h2>Résultats de recherche pour <span>{{ searchInfo }}</span></h2>
    </div>
</div>

<div class="mt-5">
    <div class="filter">
        <p>Tous les résultats - {{ results|length }} candidats</p>
        <button><i class="fa-solid fa-sliders"></i> Filtrer</button>
    </div>
</div>

<main class="search-emploi-result">
    <div class="result-wrapper">
        
        <aside class="filter">
            {# Panneau des filtres #}
            <div class="filter-panel">
                <div class="filter-panel-head">
                    <h3>Filtrer</h3>
                </div>
                <div class="filter-panel-body">
                    <div class="filter-panel-body-item">
                        <h4>Type d'emploi</h4>
                        {# Type checkbox #}
                        <div class="checkbox">
                            <label>
                                <input name="type" type="checkbox" value="fulltime">
                                <span>Temps plein</span>
                            </label>
                            <label>
                                <input name="type" type="checkbox" value="parttime">
                                <span>Temps partiel</span>
                            </label>
                            <label>
                                <input name="type" type="checkbox" value="remote">
                                <span>Télétravail</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter-panel-body-item">
                        <h4>Type de contrat</h4>
                        {# Type checkbox #}
                        <div class="checkbox">
                            <label>
                                <input name="contract" type="checkbox" value="cdi">
                                <span>CDI</span>
                            </label>
                            <label>
                                <input name="contract" type="checkbox" value="cdd">
                                <span>CDD</span>
                            </label>
                            <label>
                                <input name="contract" type="checkbox" value="stage">
                                <span>Stage</span>
                            </label>
                            <label>
                                <input name="contract" type="checkbox" value="alternance">
                                <span>Alternance</span>
                            </label>
                            <label>
                                <input name="contract" type="checkbox" value="Interim">
                                <span>Interim</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter-panel-body-item">
                        <h4>Expérience</h4>
                        {# Type checkbox #}
                        <div class="checkbox">
                            <label>
                                <input name="experience" type="checkbox" value="1">
                                <span>Novice</span>
                            </label>
                            <label>
                                <input name="experience" type="checkbox" value="2">
                                <span>1 - 2 ans</span>
                            </label>
                            <label>
                                <input name="experience" type="checkbox" value="3">
                                <span>3 - 5 ans</span>
                            </label>
                            <label>
                                <input name="experience" type="checkbox" value="4">
                                <span>6 - 9 ans</span>
                            </label>
                            <label>
                                <input name="experience" type="checkbox" value="5">
                                <span>Plus de 10 ans</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        
        <div class="result-container">
            {% if results is not empty %}
                {% for candidat in results %}
                    <div class="result candidat" data-url="{{ path('app_show_candidat', {'id': candidat.id}) }}">
                        <div>
                            <div class="result-head">
                                <div class="logo-new">
                                    {% if candidat.photo %}
                                        <img src="{{ asset('pdp/' ~ candidat.photo) }}" alt="Photo de profil">
                                    {% else %}
                                        <p>{{ candidat.nom|first }}{{ candidat.prenom|first }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="result-body">
                                <h3>{{ candidat }}</h3>
                                <a href="#">{{ candidat.metiers }}</a>
                            </div>
                        </div>
                        <div class="result-footer">
                            <span>Expérience: {{ candidat.niveau }} ans</span>
                            <span><i class="fa-solid fa-location-dot"></i> {{ candidat.villes }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun résultat pour votre recherche</p>
            {% endif %}
        </div>

    </div>
</main>

<script>
    // Rediriger l'utilisateur vers la page de l'emploi lorsqu'il clique sur un résultat
    document.querySelectorAll('.result').forEach(function(element) {
        element.addEventListener('click', function() {
            var url = this.getAttribute('data-url');
            if (url) {
                window.location = url;
            }
        });
    });
</script>

{% endblock %}