{% extends 'base.html.twig' %}

{% block title %}Résultat pour {{ searchInfo }}{% endblock %}

{% block body %}

<div class="bg candidat">
    <h1>Recrutez des <span>talents</span> pour votre entreprise.</h1>
    {# {% include "components/search_candidat.html.twig" %} #}
    {{ form_start(form, {'attr': {'class': 'search-form-homepage'}}) }}
    <div class="form-group-search">
        <div class="input-group">
            {{ form_widget(form.metier, {'attr': {'class': 'form-control-search', 'placeholder': 'Rechercher un candidat'}}) }}
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="form-group-search">
        <div class="input-group">
            {{ form_widget(form.ville, {'attr': {'class': 'form-control-search', 'placeholder': 'Saisir un lieu'}}) }}
            <i class="fa-solid fa-location-dot"></i>
        </div>
    </div>
    <div class="form-group-search">
        <button class="submit-search" type="submit">Rechercher</button>
    </div>
</div>

<div class="result-info">
    <div class="search-result">
        {% if results is not empty %}
            <h2>Résultats de recherche pour <span>{{ searchInfo }}</span></h2>
        {% else %}
            <h2>Aucun résultat pour votre recherche</h2>
        {% endif %}
    </div>
</div>

<div class="mt-5">
    <div class="filter">
        {% if results is not empty %}
            <p>Tous les résultats - {{ results.getTotalItemCount() }} emplois</p>
        {% endif %}
        <button><i class="fa-solid fa-sliders"></i> Filtrer</button>
    </div>
</div>

<main class="search-emploi-result">
    <div class="result-wrapper">

        <aside class="filter">
            {# Panneau des filtres #}
            <div class="filter-panel">
                <div class="filter-panel-head">
                    <h3>Filtrer</h3>
                </div>
                <div class="filter-panel-body">
                    <div class="filter-panel-body-item">
                        <h4>Type d'emploi</h4>
                        {# Type checkbox #}
                        <div class="checkbox">
                            {% for choice in form.typesEmploi %}
                                <label>
                                    {{ form_widget(choice) }}
                                    <span>{{ form_label(choice) }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter-panel-body-item">
                        <h4>Type de contrat</h4>
                        <div class="checkbox">
                            {% for choice in form.contrats %}
                            <label>
                                {{ form_widget(choice) }}
                                <span>{{ form_label(choice) }}</span>
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter-panel-body-item">
                        <h4>Expérience</h4>
                        <div class="checkbox">
                            {% for choice in form.niveau %}
                            <label>
                                {{ form_widget(choice) }}
                                <span>{{ form_label(choice) }}</span>
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                {{ form_end(form) }}
                </div>
            </div>
        </aside>
        
        <div class="result-container">
            {% if results is not empty %}
                {% for candidat in results %}
                    <div class="result candidat" data-url="{{ path('app_show_candidat', {'id': candidat.id}) }}">
                        <div>
                            <div class="result-head">
                                <div class="logo-new">
                                    {% if candidat.photo %}
                                        <img src="{{ asset('pdp/' ~ candidat.photo) }}" alt="Photo de profil">
                                    {% else %}
                                        <p>{{ candidat.nom|first }}{{ candidat.prenom|first }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="result-body">
                                <h1>{{ candidat.metier }}</h1>
                                <a href="#">{{ candidat }}</a>
                            </div>
                        </div>
                        <div class="result-footer">
                            <span>Expérience: {{ candidat.niveau }} ans</span>
                            <span><i class="fa-solid fa-location-dot"></i> {{ candidat.ville }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun résultat pour votre recherche</p>
            {% endif %}
        </div>

    </div>
</main>

{% if results is not empty %}
    {{ knp_pagination_render(results) }}
{% endif %}

<script>
    function attachEventListeners() {
        // Sélectionnez tous les éléments de formulaire
        var formElements = document.querySelectorAll('.search-form-homepage input[type=checkbox]');

        // Ajoutez un écouteur d'événements 'change' à chaque élément de formulaire
        formElements.forEach(function(element) {
            element.addEventListener('change', function() {
                // Soumettez le formulaire lorsque l'élément de formulaire change
                this.form.requestSubmit();
            });
        });
    }

    // Attachez les écouteurs d'événements lorsque le document est prêt
    document.addEventListener('DOMContentLoaded', attachEventListeners);

    // Réattachez les écouteurs d'événements chaque fois que Turbo Drive remplace le contenu
    document.addEventListener('turbo:load', attachEventListeners);
    // Rediriger l'utilisateur vers la page de l'emploi lorsqu'il clique sur un résultat
    document.querySelectorAll('.result').forEach(function(element) {
        element.addEventListener('click', function() {
            var url = this.getAttribute('data-url');
            if (url) {
                window.location = url;
            }
        });
    });
</script>

{% endblock %}