{% extends 'base.html.twig' %}

{% block title %}Résultat pour {{ searchInfo }}{% endblock %}

{% block body %}

<div class="bg candidat">
    <h1>Recrutez des <span>talents</span> pour votre entreprise.</h1>
    {{ form_start(form, {'attr': {'class': 'search-form'}}) }}
    <div class="form-group-search">
        <div class="input-group">
            {{ form_widget(form.metiers, {'value': data.metiers is defined ? data.metiers : ''},  {'attr': {'class': 'form-control-search', 'placeholder': 'Rechercher un candidat'}}) }}
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="form-group-search">
        <div class="input-group">
            {{ form_widget(form.villes, {'attr': {'class': 'form-control-search', 'placeholder': 'Saisir un lieu'}}) }}
            <i class="fa-solid fa-location-dot"></i>
        </div>
    </div>
    <div class="form-group-search">
        <button class="submit-search" type="submit">Rechercher</button>
    </div>
    {{ form_end(form) }}
</div>

    <h2>Résultats de recherche pour <span style="color: rgb(74, 6, 137);">{{ searchInfo }}</span></h2>

    {% if results is not empty %}
        {% for result in results %}
            <a href="{{ path('app_show_candidat', {'id': result.id}) }}">{{ result }}</a> <br>
        {% endfor %}
    {% else %}
        <p>Aucun résultat pour votre recherche</p>
    {% endif %}

{% endblock %}