{% extends 'dashboard.html.twig' %}

{% block title %}Gestion Emplois{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Offres d'emploi</h2>

    <ul class="tab">
        <li class="active">Offres en ligne</li>
        <li>Offres expirées</li>
        <li>Offres en pause</li>
    </ul>

    <div class="table-wrapper">

        <div class="offre-en-ligne">
            <table>
                <colgroup span="5"></colgroup>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Candidatures</th>
                        <th>Date</th>
                        <th>Expire</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for emploi in emplois %}
                    <tr>
                        <td>
                            <a href="{{ path('app_show_emploi', {'id': emploi.id}) }}">{{ emploi.poste }}</a>
                            {% if emploi.status == true %}
                                <span>
                                    "Pourvu"
                                </span>
                            {% endif %}
                        </td>
                        <td>{{ emploi.postulations|length }}</td>
                        <td>{{ emploi.dateOffre|format_datetime('long', 'none', locale='fr') }}</td>
                        <td>
                            {# Si la date d'expiration est dépassée, on affiche "Expirée" #}
                            {% if emploi.dateExpiration < date() %}
                                Expirée
                            {% else %}
                                {# Sinon on affiche le nombre de jours restants #}
                                {% set remainingDays = emploi.dateExpiration|date_modify('-' ~ date('now')|date('U') ~ ' seconds')|date('z') %}
                                {% if remainingDays == 0 %}
                                    Aujourd'hui
                                {% else %}
                                    Dans {{ remainingDays }} jours
                                {% endif %}
                            {% endif %}
                            
                        </td>
                        <td class="td-action">
                            <i class="fa-solid fa-ellipsis"></i>
                            <div class="action">
                                {% if emploi.status == false %}
                                    <a href="{{ path('app_status_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-check-to-slot"></i> Pourvu</a>
                                {% elseif emploi.status == true %}
                                    <a href="{{ path('app_status_emploi', {'id': emploi.id}) }}"><i class="fa-regular fa-circle-xmark"></i> Non pourvu</a>
                                {% endif %}
                                {% if emploi.pause == false %}
                                    <a href="{{ path('app_pause_emploi', {'id': emploi.id}) }}"><i class="fa-regular fa-circle-pause"></i> Mettre en pause</a>
                                {% elseif emploi.pause == true %}
                                    <a href="{{ path('app_pause_emploi', {'id': emploi.id}) }}"><i class="fa-regular fa-circle-play"></i> Réactiver</a>
                                {% endif %}
                                <a href="{{ path('app_edit_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
                                <a href="{{ path('app_delete_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-xmark"></i> Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="offre-expiree" style="display: none;">
            <table>
                <colgroup span="5"></colgroup>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Candidatures</th>
                        <th>Date</th>
                        <th>Expire</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for emploi in emploisExpirer %}
                    <tr>
                        <td>
                            {{ emploi.poste }}
                            {% if emploi.status == true %}
                                <span>
                                    "Pourvu"
                                </span>
                            {% endif %}
                        </td>
                        <td>{{ emploi.postulations|length }}</td>
                        <td>{{ emploi.dateOffre|format_datetime('long', 'none', locale='fr') }}</td>
                        <td>
                            {# Si la date d'expiration est dépassée, on affiche "Expirée" #}
                            {% if emploi.dateExpiration < date() %}
                                Expirée
                            {% else %}
                                {# Sinon on affiche le nombre de jours restants #}
                                Expire dans {{ emploi.dateExpiration|date_modify('-' ~ date('now')|date('U') ~ ' seconds')|date('z') }} jours
                            {% endif %}
                            
                        </td>
                        <td class="td-action">
                            <i class="fa-solid fa-ellipsis"></i>
                            <div class="action">
                                {# Si la date d'expiration est dépassée, on affiche le bouton "Prolonger" #}
                                {% if emploi.dateExpiration < date() %}
                                    <a href="{{ path('app_extend_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-calendar-plus"></i> Prolonger</a>
                                {% endif %}
                                <a href="{{ path('app_edit_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
                                <a href="{{ path('app_delete_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-xmark"></i> Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="offre-en-pause" style="display: none;">
            <table>
                <colgroup span="5"></colgroup>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Candidatures</th>
                        <th>Date</th>
                        <th>Expire</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for emploi in emploisPaused %}
                    <tr>
                        <td>
                            {{ emploi.poste }}
                            {% if emploi.status == true %}
                                <span>
                                    "Pourvu"
                                </span>
                            {% endif %}
                        </td>
                        <td>{{ emploi.postulations|length }}</td>
                        <td>{{ emploi.dateOffre|format_datetime('long', 'none', locale='fr') }}</td>
                        <td>
                            {# Si la date d'expiration est dépassée, on affiche "Expirée" #}
                            {% if emploi.dateExpiration < date() %}
                                Expirée
                            {% else %}
                                {# Sinon on affiche le nombre de jours restants #}
                                Expire dans {{ emploi.dateExpiration|date_modify('-' ~ date('now')|date('U') ~ ' seconds')|date('z') }} jours
                            {% endif %}
                            
                        </td>
                        <td class="td-action">
                            <i class="fa-solid fa-ellipsis"></i>
                            <div class="action">
                                {# Si la date d'expiration est dépassée, on affiche le bouton "Prolonger" #}
                                {% if emploi.dateExpiration < date() %}
                                    <a href="{{ path('app_extend_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-calendar-plus"></i> Prolonger</a>
                                {% endif %}
                                {% if emploi.status == false %}
                                    <a href="{{ path('app_status_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-check-to-slot"></i> Pourvu</a>
                                {% elseif emploi.status == true %}
                                    <a href="{{ path('app_status_emploi', {'id': emploi.id}) }}"><i class="fa-regular fa-circle-xmark"></i> Non pourvu</a>
                                {% endif %}
                                {% if emploi.pause == true %}
                                    <a href="{{ path('app_pause_emploi', {'id': emploi.id}) }}"><i class="fa-regular fa-circle-play"></i> Réactiver</a>
                                {% endif %}
                                <a href="{{ path('app_edit_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
                                <a href="{{ path('app_delete_emploi', {'id': emploi.id}) }}"><i class="fa-solid fa-xmark"></i> Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
