{% extends 'dashboard.html.twig' %}

{% block title %}Candidatures{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Gérez les candidatures</h2>
    <div class="table-wrapper">
        <table>
            <colgroup span="4"></colgroup>
            <thead>
                <tr>
                    <th>Candidat</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for candidature in candidatures %}
                <tr>
                    <td>
                        {% if candidature.userPostulant.active %}
                            <a href="{{ path('app_show_candidat', {'id': candidature.userPostulant.id}) }}" data-turbo="false">{{ candidature }}</a>
                        {% else %}
                            <p>{{ candidature }}</p>
                        {% endif %}
                        <span>Postulé pour : <a style="color: #007456;" href="">{{ candidature.emploi }}</a></span>
                    </td>
                    <td>
                        {% if candidature.status is null %}
                            Vérification
                        {% elseif candidature.status == 1 %}
                            Approuvé
                        {% elseif candidature.status == 0 %}
                            Rejeter
                        {% endif %}
                    </td>
                    
                    <td>{{ candidature.datePostulation|format_datetime('long', 'none', locale='fr') }}</td>
                    <td class="td-action">
                        {# Icon download pour télécharger le CV du candidat #}
                        {% if candidature.userPostulant.cv %}
                            <a style="margin-right: 10px;" title="Voir le CV" href="{{ asset('cv/' ~ candidature.userPostulant.cv) }}" target="_blank"><i class="fa-regular fa-file-pdf" style="font-size: 22px;"></i></a>
                        {% else %}
                            <a href="{{ asset('cv/' ~ candidature.cv) }}" target="_blank"><i class="fa-regular fa-file-pdf" style="font-size: 22px;"></i></a>
                        {% endif %}
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="action">
                            {% if candidature.status is null %}
                                <a href={{ path('app_approuver', {'id': candidature.id}) }}>Approuvé</a>
                                <a href="{{ path('app_rejeter', {'id': candidature.id}) }}">Rejeter</a>
                            {% elseif candidature.status == 1 %}
                                <a href="{{ path('app_rejeter', {'id': candidature.id}) }}">Rejeter</a>
                            {% elseif candidature.status == 0 %}
                                <a href={{ path('app_approuver', {'id': candidature.id}) }}>Approuvé</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
