{% extends 'dashboard.html.twig' %}

{% block title %}Discussions{% endblock %}

{% block body %}
<div class="wrapper">

    <h2>Discussions</h2>
    <aside class="chat-aside">
        <nav>
            <div class="chat-header">
                <h3>Messagerie</h3>
                <a href="#"><i class="fa-solid fa-arrows-rotate"></i> Recharger</a>
            </div>
            <ul>
                {# Liste des discussions de l'utilisateur #}
                {% for user in discussedUsers %}
                    <li>
                        <a href="{{ path('discussions', {'receiverId': user.id}) }}">
                            Discussion avec {{ user.email }}
                        </a>
                        {% set unreadMessagesCount = app.user.countUnreadMessagesFromUser(user) %}
                        {% if unreadMessagesCount > 0 %}
                            <span>{{ unreadMessagesCount }} non lu(s)</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <a class="nav-mess"><i class="far fa-comments"></i></a>
    </aside>
    <div class="overlay-chat"></div>
    <script>
        const toggleNav = () => {
            document.querySelector('.nav-mess').addEventListener('click', () => {
                document.querySelector('.chat-aside').classList.toggle('active');
                document.querySelector('.overlay-chat').classList.toggle('active');
            });
            document.querySelector('.overlay-chat').addEventListener('click', () => {
                document.querySelector('.chat-aside').classList.toggle('active');
                document.querySelector('.overlay-chat').classList.toggle('active');
            });
        }

        toggleNav();
    </script>
    <div class="section-wrapper">
        
        <section>
            {# Le contenu de la discussion sera chargé ici #}
            {% if selectedMessages is defined and selectedMessages is not null %}
                {# Grace a turbo_stream_listen on peut écouter les mises à jour des messages #}
                {# Et les mettre à jour dans le turbo-frame #}
                <ul {{ turbo_stream_listen('chat') }}>
                    <turbo-frame id="messages">
                        {# Liste des messages de la discussion sélectionnée #}
                        {% for message in selectedMessages %}
                            <article id="message_{{ message.id }}">
                                <h3>{{ message.sender.email }}</h3>
                                <p>{{ message.content }}</p>
                                <div>{{ message.createdAt|date('Y-m-d H:i:s') }}</div>
                            </article>
                        {% endfor %}
                    </turbo-frame>
                </ul>
                {# On utilise le turbo-frame pour éviter de recharger toute la page #}
                {# Lors de la soumission du formulaire #}
                <turbo-frame id="message_form">
                    {{ form_start(form) }}
                    {{ form_widget(form.content) }}
                    <button type="submit">Envoyer</button>
                    {{ form_end(form) }}
                </turbo-frame>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}
