{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<main class="liens">
    <div class="ariane">
        <div class="file-ariane">
            <span>
                <a href="{{ path('app_home') }}">Accueil</a>
                <i class="fa-solid fa-angle-right"></i>
                <p>Conditions d'utilisation</p>
            </span>
            <h1>Conditions d'utilisation</h1>
        </div>
    </div>
    <div class="content-wrapper">
    
        <section class="liens">
            <div>
                <h4>Rappel sur la confidentialité</h4>
                <p>Protégez vos informations personnelles : ne communiquez jamais votre numéro de sécurité sociale, votre numéro de carte de crédit ou vos coordonnées bancaires à des employeurs potentiels. Pour en savoir plus, <a href="{{ path('security') }}">cliquez ici.</a></p>
                <h4>Conditions d'Utilisation</h4>
                <p>Ce document précise les Conditions d’Utilisation (Conditions) auxquelles l’utilisateur (ou « vous ») est autorisé à utiliser les sites et les services de Talentblend. Les présentes comprennent la Notice de Protection des Données de Talentblend (qui est intégrée aux présentes conditions par référence).</p>
                <p class="em">
                    <em>Ces conditions représentent un accord contraignant entre vous et Talentblend Worldwide, Inc. ou l’entité du groupe Talentblend qui exploite le site Web auquel vous accédez (« Talentblend »). Vous acceptez ces conditions chaque fois que vous accédez au site de Talentblend ou utilisez les services de Talentblend. N’utilisez pas les sites ou les services de Talentblend si vous n’acceptez pas les conditions présentées ici.</em>
                </p>
                <p>Les sites de Talentblend sont définis en tant que tous les sites sous le contrôle de Talentblend, qu'il s'agisse de contrôles partiels ou autre (en particulier Talentblend.com, et le site web à partir duquel vous avez eu accès à ces conditions d'utilisation) et incluent les Services Talentblend. Les Services Talentblend sont définis comme les applications, accessibles via les plateformes Facebook et/ou mobiles, et services offerts par Talentblend, dont les services en ligne pour la publication et la recherche d’offres d'emploi (« Services de Talentblend »). Les sites Talentblend proposent également des outils tels que, des communautés en ligne et des solutions de communication conçues pour favoriser l'utilisation des réseaux professionnels et personnels (« Réseaux Talentblend ») entre les utilisateurs des sites Talentblend (« Utilisateurs »). Les sites Talentblend permettent également aux Utilisateurs de créer des profils personnels pouvant inclure des informations les concernant (« Profils ») et de rendre ces profils, ou certaines de leurs sections, publics. Par ailleurs, Talentblend peut être amené à collecter certaines informations vous concernant sur d'autres sites Web publics et à utiliser ces informations afin de créer un Profil ou à les ajouter à un Profil existant.</p>
                <p>Talentblend peut modifier les Conditions en mettant en ligne une version actualisée de cette page web. Vous devez visiter régulièrement cette page et lire les conditions car elles vous engagent juridiquement.</p>
                <h4>Talentblend s’autorise à suspendre ou supprimer les accès des Utilisateurs qui ne respecteraient pas les présentes conditions.</h4>
                <ul>
                    <li>Vous devez avoir 16 ans ou plus pour pouvoir visiter ou utiliser les sites de Monster. Si vous avez moins de 18 ans ou êtes mineur dans votre juridiction, vous devez utiliser les sites de Monster sous la supervision d'un parent, responsable légal ou un autre adulte responsable.</li>
                    <li>Vous n'êtes pas autorisé à utiliser le contenu ou les Profils Monster pour déterminer l'admissibilité d'une personne à : (a) un prêt ou une assurance pour des besoins personnels, familiaux ou domestiques ; (b) un emploi ; ou (c) une autorisation ou un avantage gouvernemental.</li>
                </ul>
            </div>
            <div>
                <h4>Talentblend s’autorise à suspendre ou supprimer les accès des Utilisateurs qui ne respecteraient pas les présentes conditions.</h4>
                <ul>
                    <li>Vous devez avoir 16 ans ou plus pour pouvoir visiter ou utiliser les sites de Talentblend. Si vous avez moins de 18 ans ou êtes mineur dans votre juridiction, vous devez utiliser les sites de Talentblend sous la supervision d'un parent, responsable légal ou un autre adulte responsable.</li>
                    <li>Vous n'êtes pas autorisé à utiliser le contenu ou les Profils Talentblend pour déterminer l'admissibilité d'une personne à : (a) un prêt ou une assurance pour des besoins personnels, familiaux ou domestiques ; (b) un emploi ; ou (c) une autorisation ou un avantage gouvernemental.</li>
                </ul>
            </div>
            <div>
                <h4>1. Utilisation des contenus de Talentblend.</h4>
                <ul>
                    <li>Talentblend vous autorise, selon les présentes conditions à accéder et utiliser les sites de Talentblend et leur contenu (comme défini ci-dessous) pour télécharger et imprimer lesdits contenus qui sont disponibles sur ou à partir des sites de Talentblend et ceci exclusivement pour une utilisation privée, non commerciale. Les contenus, par exemple des designs, textes, graphiques, images, vidéos, informations, logos, icônes-boutons, logiciels, fichiers audio et autres (rassemblés sous le terme « contenus de Talentblend ») sont protégés par copyright, la protection des marques commerciales déposées et autres lois. Tous les contenus sont la propriété de Talentblend ou ses affiliés. La compilation (au sens de la collecte, de l'arrangement et de l’assemblage) de tous les contenus sur les sites est la propriété exclusive de Talentblend et est protégée par les lois sur les droits d'auteur, la protection des marques commerciales et autres lois. Une utilisation non autorisée des contenus peut violer ces lois et/ ou les réglementations et est strictement interdite. Vous devez conserver toutes les copies autorisées que vous avez faite de contenus de Talentblend, toutes les informations soumises aux droits d'auteur, et autres informations propriétaires dans les contenus d'origine de Talentblend.</li>
                    <li>Tout code créé par Talentblend pour générer ou afficher des contenus de Talentblend ainsi que les pages dont sont faits les sites de Talentblend, sont également protégés par copyright et vous ne devez pas copier ou modifier ces codes.</li>
                    <li>Vous vous engagez à ne pas vendre, modifier, reproduire, afficher, distribuer ou autrement utiliser le Contenu du Site que ce soit à des fins commerciales ou non, publiquement ou en privé, notamment si cette utilisation à pour but de promouvoir des produits ou services qui ne sont pas ceux de Talentblend, dénigrer ou discréditer Talentblend ou de ses concédants de licence ou encore porterait atteinte à la propriété intellectuelle de Talentblend ou ses concédants. L’interdiction ci-avant est valable quel que soit le support, en ce compris tout autre site Web, application ou environnement informatique en réseau. Tout code créé par Talentblend, pour produire ou afficher du Contenu ou des pages composant une application ou un service, est également protégé par le droit d'auteur de Talentblend. Il est interdit de copier, adapter ou altérer ces codes.</li>
                </ul>
            </div>
            <div>
                <h4>2. Utilisation des Services de Talentblend.</h4>
                <ul>
                    <li>Les publications d’offre, la base de données des CV et les autres fonctions des sites de Talentblend ne peuvent être utilisées que par des personnes recherchant un emploi et/ou des informations de carrière ainsi que par les employeurs recherchant du personnel. De même, le Networking et les Profils Talentblend ne peuvent être utilisés qu’à des fins professionnelles ou personnelles licites. Votre utilisation des services de Talentblend est aussi soumise à tout autre contrat que vous pourriez avoir avec Talentblend. En cas de conflit entre les présentes Conditions et contrat que vous pourriez avoir avec Talentblend, les termes de votre contrat prévaudront. Le terme « publier », mentionné aux présentes, signifie la soumission, la publication ou l’affichage de données par vous sur un site de Talentblend.</li>
                </ul>
                <h4>Les utilisateurs s'interdisent de :</h4>
                <ul>
                    <li>(a) Transmettre, publier, distribuer, enregistrer ou détruire tout matériel, en particulier les contenus de Talentblend, en violation des lois ou règlementations en vigueur concernant la collecte, le traitement ou le transfert d'informations personnelles, ou en violation des directives de protection des informations de Talentblend ;</li>
                    <li>(b) d’effectuer des actions qui représenteraient une contrainte non raisonnable ou disproportionnée pour l’infrastructure du site web de Talentblend ;
                    </li>
                    <li>(c) d’utiliser un autre logiciel de navigation ou de recherche que les outils disponibles sur le site Talentblend, les navigateurs web tiers généralement disponibles de tiers ou autres outils autorisés par Talentblend ;</li>
                    <li>(d) utiliser des systèmes d’exploration de données (data mining), des robots ou tout autre méthode semblable pour la collecte et l’exploitation de données ;</li>
                    <li>(e) de mettre en danger ou essayer de mettre en danger la sécurité d'un site web de Talentblend. Cela comprend les tentatives de contrôler, scanner ou tester la vulnérabilité d’un système ou réseau ou de violer des mesures de sécurité ou d’authentification sans une autorisation préalable expresse ;</li>
                    <li>(f) contrefaire les protocoles TCP/IP ou toute partie des données d'en-tête de mail ou de publication sur un forum ;</li>
                    <li>(g) d'effectuer une ingénierie inversée (Reverse Engineering) ou une décompilation de pages Web de Talentblend ;</li>
                    <li>(h) agréger, copier ou dupliquer de quelque manière que soit le Contenu ou les informations disponibles sur les sites Talentblend, en ce compris les offres d’emploi expirées, sauf dûment autorisé par les présentes Conditions ;</li>
                    <li>(i) référencer ou créer des liens vers tout Contenu ou information disponible depuis les sites de Talentblend, sauf expressément autorisé par les présentes Conditions ;</li>
                    <li>(j) Publier des contenus ou des matériels qui contiennent des informations fausses ou induisant en erreur ou qui promeuvent, soutiennent ou renforcent des activités qui sont interdites par ces conditions. Par exemple la fabrication ou l’achat d’armes illégales, des violations de la vie privée, la préparation ou l’introduction de virus informatiques ou de copies piratées ;</li>
                    <li>(k) de publier un CV, un Profil ou de poser sa candidature pour un poste au nom d’une autre personne ;</li>
                    <li>(l) divulguer à tout agent, agence ou autres tiers, le contact d’un employeur;</li>
                    <li>(m) rendre publique plus d’une copie d’un même CV à la fois ;</li>
                    <li>(n) partager, avec un tiers, toute identification de connexion aux sites Talentblend, un tiers étant toute personne autre que l’utilisateur unique auquel est affecté l’identifiant ;</li>
                    <li>(o) obtenir des données ne vous étant pas destinées ou se connecter à un serveur ou un compte pour lequel vous n’êtes pas autorisé ;</li>
                    <li>(p) publier ou soumettre sur les sites Talentblend une information biographique incomplète, fausse ou inexacte ou qui appartiennent à un tiers ;</li>
                    <li>(q) de publier un contenu qui contient des pages à accès restreint, protégées par mot de passe ou des pages web ou images masquées ;</li>
                    <li>(r) obtenir d’autres utilisateurs des mots de passe ou des données personnelles d’identification ;</li>
                    <li>(s) supprimer ou modifier tout élément publié par une autre personne ou entité ;</li>
                    <li>(t) harceler, inciter au harcèlement ou prôner le harcèlement à l’encontre d’un groupe, d’une entreprise ou d’une personne ;</li>
                    <li>(u) envoyer des courriers, mails ou fax ou effectuer des appels téléphoniques non sollicités, notamment pour promouvoir des produits ou services, à tout utilisateur ou tenter de contacter ces derniers sans avoir obtenu au préalable leur accord ;</li>
                    <li>(v) tenter d'interférer avec le service fourni à tout utilisateur, hébergeur ou réseau, au moyen notamment d’un téléchargement de virus informatique, d'une surcharge, de "flooding", "spamming", "mailbombing" ou "crashing" ;</li>
                    <li>(w) répandre ou encourager la copie illégale ou non autorisée du travail d'un tiers protégé par des droits d'auteur, tels que le transfert ou la mise à disposition de logiciels informatiques piratés ou leurs liens, fournir ou mettre à disposition des renseignements permettant de contourner des dispositifs de protection des œuvres couvertes par des droits d’auteur, ou fournir ou mettre à disposition de la musique, vidéo ou autres médias et liens vers des sites de piratage ;</li>
                    <li>(x) utiliser les Services Talentblend à des fins illicites ou pour les besoins d’une activité illégale, publier ou soumettre tout contenu, CV ou d'offre d’emploi diffamatoire, calomnieuse, implicitement ou explicitement offensante, vulgaire, obscène, menaçante, abusive, haineuse, raciste, discriminatrice, à tendance menaçante ou pouvant troubler, gêner, provoquer de l’anxiété, harceler tout individu ainsi que d’ incorporer des liens vers du contenu pornographique, à connotation sexuelle ou contraire aux bonnes mœurs ; ou</li>
                    <li>(y) mettre en ligne un CV autre qu’un réel CV et qui aurait pour but de promouvoir des produits ou services.</li>
                    <li>Des violations de la sécurité du système ou du réseau peuvent conduire à des poursuites civiles et pénales. Talentblend recherchera les occasions dans lesquelles de telles violations pourraient avoir eu lieu et peut faire appel aux autorités judiciaires pour poursuivre des utilisateurs qui ont participé à de telles violations et coopérer avec ces autorités.</li>
                    <li>Il est de votre responsabilité de conserver la confidentialité de votre compte Employeur, du profil et des mots de passe. Il vous est interdit de partager même temporairement, vos identifiant, mot de passe et autre paramètre d’accès à votre compte à des tiers. Vous êtes responsable pour l’utilisation de vos enregistrements et mots de passe sur les sites de Talentblend, que cette utilisation ait été autorisée ou pas par vous. A ce titre, vous vous obligez à informer Talentblend, sans délai, de toutes utilisations non autorisées de son compte et /ou identifiants.</li>
                </ul>
            </div>
            <div>
                <h4>3. Conditions supplémentaires applicables aux employeurs.</h4>
                <ul>
                    <li>Les employeurs sont seuls responsables de leurs publications sur les sites Talentblend. Talentblend ne pourra en aucun cas être assimilé à un employeur ou à un mandataire de ce dernier et/ou des décisions d'embauche, pour quelques raisons que ce soient, de l’entité publiant des offres sur le site de Talentblend.</li>
                    <li>Vous comprenez et reconnaissez que si vous supprimez votre compte employeur, toutes vos informations, y compris les CV enregistrés, les contacts du réseau et les listes d’emails seront effacés de la base de données de Talentblend. Le délai de traitement de la demande de suppression peut néanmoins laisser subsister des données quelque temps.</li>
                    <li>Afin de protéger les utilisateurs Talentblend de campagnes publicitaires ou de sollicitations indésirables, Talentblend se réserve le droit de limiter, à sa seule discrétion, le nombre de mails susceptibles d’être envoyés par les employeurs, aux utilisateurs. Vous devez utiliser les Profils et les Réseaux Talentblend conformément aux réglementations relatives à la confidentialité et à la protection des données en vigueur.</li>
                </ul>
                <h4>Une Offre ne saurait en aucun cas contenir :</h4>
                <ul>
                    <li>(a) de liens hypertexte, autres que ceux expressément autorisés par Talentblend ;</li>
                    <li>(b) des mots clés « cachés », pouvant induire en erreur ou illisible, ou des mots clés répétitifs ou sans rapport avec l’offre d'emploi publiée ;</li>
                    <li>(c) les noms, logos ou marques d’entreprises autres que les vôtres ou expressément autorisées par Talentblend ;</li>
                    <li>(d) les noms d’écoles ou institutions, de villes, de départements, de régions ou pays n’ayant aucun lien avec l’offre ;</li>
                    <li>(e) plus d’une offre ou description, plus d’une localité, ou plus d’une catégorie, à moins que le produit ne le permette ;</li>
                    <li>(f) des donnés incorrectes, fausses ou erronées; et</li>
                    <li>(g) des éléments ou des liens vers des éléments à connotation sexuelle, violente ou situation d’abus ou qui sollicite des données personnelles de personnes de moins de 16 ans.</li>
                </ul>
                <h4>Il vous est interdit d’utiliser les services d’offre d’emploi, le Networking ou les Profils de Talentblend en vue de :</h4>
                <ul>
                    <li>(a) publier des offres non conformes aux lois et règlements en vigueur dans le pays de publication de l’offre ou en tout autre pays, si applicable, en matière, notamment, de droit du travail, d’égalité des chances et des exigences en fonction des qualifications par rapport à l’emploi, la protection des informations, l’accès et l'utilisation des données personnelles ainsi que la propriété intellectuelle ;</li>
                    <li>(b) publier des offres exigeant une nationalité particulière ou une résidence permanente dans un pays comme condition d’emploi, à moins qu’une telle condition soit requise par la loi ou réglementations en vigueur ;</li>
                    <li>(c) publier des offres qui imposerait des contrôles ou critères spécifiques pour l’accès à l’emploi sans que ces contrôles ou critères soient juridiquement obligatoires ;</li>
                    <li>(d) pour les Profils, déterminer l'admissibilité d'une personne à : (a) un prêt ou une assurance pour des besoins personnels, familiaux ou domestiques ; (b) un emploi ; ou (c) une autorisation ou un avantage gouvernemental ;</li>
                    <li>(e) vendre, valoriser ou faire de la publicité de produits ou services ;</li>
                    <li>(f) publier des offres portant sur des franchises, système pyramidal, adhésion à un club, accords de distribution, de concession ou d’agence commerciale ou à la vente à niveaux multiples (« multi-level Marketing ») ;</li>
                    <li>(g) publier des offres portant sur une opportunité d’affaires qui requiert un paiement d’avance ou périodique ou nécessite le recrutement d’autres membres, sous-distributeurs ou sous-agents ;</li>
                    <li>(h) publier offres portant sur des opportunités d’affaires rémunérées uniquement par commission à moins que l’offre précise clairement cet état de fait et décrive précisément le produit ou service à vendre ;</li>
                    <li>(i) promouvoir des opportunités qui ne sont pas des offres d’emplois sérieuses ;</li>
                    <li>(j) publier des offres visant la recherche de modèles, d’acteurs, d’artistes ou autres talents ou encore des postes d’agent ou de prospection de tels personnels ;</li>
                    <li>(k) passer des annonces visant des services sexuels ou recherchant du personnel pour des activités de nature sexuelle ;</li>
                    <li>(l) solliciter ou promouvoir le commerce du corps humain ou d’organes, dont notamment des services de fécondation assistée, tels que le don d’ovules ou de « mères porteuses » ;</li>
                    <li>(m) promouvoir un parti, un programme, une position ou un sujet politique ;</li>
                    <li>(n) promouvoir une religion ;</li>
                    <li>(o) publier des offres pour des postes basés dans des pays faisant l’objet d’une sanction économique de la part du gouvernement des Etats-Unis; et</li>
                    <li>(p) sauf si permis par la loi, publier des offres obligeant le candidat à fournir des données relatives à (i) ses origines ethniques ou raciales, (ii) ses convictions politiques,(iii) croyances philosophiques ou religieuses,(iv) son appartenance à un syndicat, (v) sa santé physique ou mentale, (vi) ses préférences sexuelles, (vii) son passé judiciaire, ou (vii) son âge ;</li>
                    <li>(q) publier des offres de stages, de service civique, d'alternance ou de mémoires.</li>
                    <li>Talentblend se réserve, à sa seule discrétion, le droit de supprimer toute offre ou contenu publié sur son site qui serait non conforme aux Conditions précitées ou dont le contenu pourrait porter atteinte à Talentblend ou aux utilisateurs de Talentblend.</li>
                    <li>Si, à tout moment, Vous portez atteinte par votre utilisation à Talentblend ou autrement trompez Talentblend quant à la nature de vos activités, Talentblend aura le droit de suspendre, voire résilier, les Services souscrits.</li>
                </ul>
            </div>
        </section>

        <aside>
            <h3>Liens utiles</h3>
            <ul>
                <li><a href="{{ path('mentions_legales') }}">Mentions Légales</a></li>
                <li><a href="{{ path('conditions_utilisation') }}">Conditions d'utilisation</a></li>
                <li><a href="{{ path('donnees_personnelles') }}">Données personnelles</a></li>
                <li><a href="">Paramètre des cookies</a></li>
                <li><a href="{{ path('accessibilite') }}">Accessibilité</a></li>
                <li><a href="{{ path('security') }}">Centre de sécurité</a></li>
            </ul>
        </aside>

    </div>
</main>

{% endblock %}
