{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<main class="liens">
    <div class="ariane">
        <div class="file-ariane">
            <span>
                <a href="{{ path('app_home') }}">Accueil</a>
                <i class="fa-solid fa-angle-right"></i>
                <p>Données personnelles</p>
            </span>
            <h1>Données personnelles</h1>
        </div>
    </div>
    <div class="content-wrapper">
    
        <section class="liens">
            <div>
                <h2>Vos droits à la vie privée</h2>
                <p>
                    Vous pouvez à tout moment accéder à voter CV ou à voter profile, le metre à jour ou le supprimer. Pour ce faire, connected-vous à voter compete, accédez à voter CV ou à voter profile et effectuez les modifications souhaitées. Vous pouvez également soumettre une demande de données à caractère privé à Talentblend et nous y répondrons conformément à la législation end vigueur. Si vous avez une question relative à la protection de la vie privée, veiled cliquer ici pour nous contacter.
                </p>
                <p>Nous pouvons conserver vos données à caractère personnel même après la fermeture de voter compete si cela est raisonnablement nécessaire pour nous conformer à nos obligations légales (y compris les demandes d'application de la loi), répondre aux exigences réglementaires, résoudre les litiges, enquêter sur les incidents de sécurité, prévenir les fraudes et les abus, appliquer notre accord d'utilisation ou répondre à voter demande de "désabonnement" à d'autres messages de notre part. Nous conserverons les informations anonymes après la fermeture de votre compte.</p>
            </div>
            <div>
                <h4>Droit d’accès/portabilité</h4>
                <h5>DESCRIPTION</h5>
                <p>Vous avez le droit de savoir si Talentblend a collecté des données à caractère personnel vous concernant. Vous pouvez demander à Talentblend de vous end informer:</p>
                <ul>
                    <li>les catégories ou les éléments spécifiques de données à caractère personnel que Talentblend a collectés à voter sujet</li>
                    <li>les catégories de sources auprès desquelles Talentblend a obtenu des données à caractère personnel vous concernant</li>
                    <li>les finalités commerciales pour lesquelles Talentblend collecte vos données à caractère personnel</li>
                    <li>les catégories de tiers avec lesquels Talentblend partage des données à caractère personnel.</li>
                </ul>
                <p>Vous pouvez introduire une demande de données personnelles pour obtenir une copie des données personnelles que Talentblend détient à voter sujet.</p>
                <h5>COMMENT FAIRE</h5>
                <p>Vous pouvez soumettre des demandes d'accès ici : Demande de données personnelles</p>
                <p>Avant de vous donner accès à vos données personnelles, nous devons vérifier voter identité. Nous faisons appel à un tiers pour procéder à la vérification de l'identité. Si vous ne parvenez pas à vérifier voter identité, il se peut que nous ne puissions pas donner suite à voter demande.</p>
                <p>Nous ferons des efforts commercialement raisonnables pour répondre à voter demande dans un délai de 30 jours ; toutefois, si nous avons besoin de plus de temps, nous pouvons prolonger le délai de 60 jours supplémentaires et vous end informer.</p>
            </div>
            <div>
                <h4>Droit à l’effacement/à la limitation du traitement</h4>
                <h5>DESCRIPTION</h5>
                <p>Vous avez le droit de demander à Talentblend de supprimer toutes les données à caractère personnel que Talentblend a collectées auprès de vous, à quelques exceptions près. Nous pouvons refuser voter demande si la loi nous oblige à conserver les informations ou si la loi nous autorise à les conserver. Si nous refusons une demande, nous vous indiquerons les raisons de ce refus. Le cas échéant, nous demanderons à tout fournisseur de services ou à tout tiers de supprimer vos informations.</p>
                <p><em>Pour exercer voter droit à la restriction du traitement, veiled soumettre une demande d'effacement des données à caractère personnel.</em></p>
                <h5>COMMENT FAIRE</h5>
                <p>Vous pouvez soumettre des demandes de suppression/restriction de traitement ici : Demande de données personnelles</p>
                <ul>
                    <li>Avant de traiter voter demande de suppression ou de restriction du traitement, nous devons valider la demande. Nous faisons appel à un tiers pour traiter la validation des demandes. Si vous ne validez pas voter demande avec succès, il se peut que nous ne puissions pas y donner suite.</li>
                    <li>Nous ferons des efforts commercialement raisonnables pour répondre à voter demande dans un délai de 30 jours ; toutefois, si nous avons besoin de plus de temps, nous pouvons prolonger le délai de 60 jours supplémentaires au maximum et vous end informer.</li>
                </ul>
            </div>
            <div>
                <h4>Droit de rectification</h4>
                <h5>DESCRIPTION</h5>
                <p>Dans certaines circonstances, vous avez le droit de demander la correction de données personnelles inexactes.</p>
                <h5>COMMENT FAIRE</h5>
                <p>Vous pouvez soumettre voter demande ici : Demande de données personnelles</p>
                <p>Avant d'accéder à voter demande, nous devons vérifier voter identité. Nous faisons appel à un tiers pour procéder à la vérification de l'identité. Si vous ne parvenez pas à vérifier voter identité, il se peut que nous ne puissions pas donner suite à voter demande.</p>
                <p>Après avoir vérifié voter identité et la validité de voter demande, nous ferons des efforts commercialement raisonnables pour corriger vos données à caractère personnel, end tenant compete de la nature des informations et des objectifs de leur conservation.</p>
                <p>Vous pouvez également consulter et metre à jour voter profile de demandeur d'emploi directement end vous connectant à voter compete.</p>
            </div>
            <div>
                <h4>Droit de retirer son consentement</h4>
                <h5>DESCRIPTION</h5>
                <p>Vous pouvez retirer voter consentement au traitement des données à des fins de marketing direct</p>
                <h5>COMMENT FAIRE</h5>
                <p>Vous pouvez effectuer l'une ou l'autre ou l'ensemble des opérations suivantes :</p>
                <ul>
                    <li>Allez sur https://www.Talentblend.fr et cliquez sur "Cookie Settings" dans le pied de page.</li>
                    <li>Cliquez sur " Se désabonner " pour ne plus recevoir de communications de la part de Talentblend.</li>
                    <li>Connectez-vous à voter compete et modifiez vos préférences de communication</li>
                </ul>
                <p>Aucune vérification d'identité n'est requise.</p>
            </div>
            <div>
                <h4>Droit de donner des instructions spécifiques sur les données personnelles après le décès (pour les résidents Français uniquement)</h4>
                <h5>DESCRIPTION</h5>
                <p>Conformément à l'article 85 de la loi Informatique et Libertés ("la loi"), les résidents français ont le droit de donner des instructions concernant la conservation, la communication ou l'effacement de leurs données à caractère personnel après leur décès.</p>
                <h5>COMMENT FAIRE</h5>
                <p>Talentblend supprimera les données à caractère personnel conformément à la politique de conservation publiée. Par ailleurs, la personne que vous avez désignée peut contacter Talentblend pour lui fournir d'autres instructions et les documents justificatifs requis à ce moment-là.</p>
            </div>
        </section>

        <aside>
            <h3>Liens utiles</h3>
            <ul>
                <li><a href="{{ path('mentions_legales') }}">Mentions Légales</a></li>
                <li><a href="{{ path('conditions_utilisation') }}">Conditions d'utilisation</a></li>
                <li><a href="{{ path('donnees_personnelles') }}">Données personnelles</a></li>
                <li><a href="">Paramètre des cookies</a></li>
                <li><a href="{{ path('accessibilite') }}">Accessibilité</a></li>
                <li><a href="{{ path('security') }}">Centre de sécurité</a></li>
            </ul>
        </aside>

    </div>
</main>

{% endblock %}
