{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<main class="liens">
    <div class="ariane">
        <div class="file-ariane">
            <span>
                <a href="{{ path('app_home') }}">Accueil</a>
                <i class="fa-solid fa-angle-right"></i>
                <p>Centre de securité</p>
            </span>
            <h1>Centre de Sécurité</h1>
        </div>
    </div>
    <div class="content-wrapper">
    
        <section class="liens">
            <div>
                <h4>Monster met tout en œuvre pour vous fournir un environnement le plus sécurisé possible</h4>
                <p>Monster met tout en œuvre pour vous fournir un environnement le plus sécurisé possible pour votre recherche d'emploi et votre gestion de carrière. Pour nous aider à atteindre cet objectif, nous vous demandons de garder à l’esprit quelques précautions de sécurité simples lors de l’examen des offres d'emploi et des opportunités de postes Monster que vous pourriez recevoir spontanément par email.</p>
                <p>Il est possible, par exemple, que vous puissiez trouver des offres d'emploi frauduleuses lors de la recherche en ligne, ou recevoir un email frauduleux dont l'adresse email de l'expéditeur a été contrefaite pour qu'elle semble provenir de Monster. De telles pratiques constituent une violation des Conditions d'utilisation de Monster et peuvent constituer une violation criminelle des lois fédérales ou des Etats.</p>
                <p>Malheureusement, toutes les entreprises en ligne sont occasionnellement victimes d’escroqueries. Bien que Monster fasse tout son possible pour empêcher ces abus, il n'est pas à l'abri de telles pratiques. Pour vous aider à effectuer une recherche d’emploi plus sûre, nous avons réuni les articles et ressources suivants qui traitent de la sécurité. Se familiariser avec cette information vous aidera à mieux gérer votre carrière.</p>
                <p><strong>Norme et conformité:</strong> Les clients peuvent demander à consulter nos rapports de preuve de conformité en contactant leur représentant de compte.</p>
                <ul>
                    <li>SOC 2 Type 2 Conforme au type 2</li>
                    <li>ISO 27001 Certifié conforme à la sécurité</li>
                    <li>ISO 27701 Certifié en matière de confidentialité</li>
                </ul>
            </div>
            <div>
                <h4>Effectuer une recherche d’emploi sûre</h4>
                <p>Quelques mesures simples, et un peu d'information peuvent rendre votre recherche d'emploi efficace et sans danger !</p>
                <ul>
                    <li><a href="#">Sécurité de votre CV</a></li>
                    <li><a href="#">Escroqueries : liées au travail à domicile</a></li>
                </ul>
            </div>
            <div>
                <h4>Eviter le vol d’identité</h4>
                <p>Le vol d'identité est l'un des crimes dont la croissance est la plus rapide à travers le globe. Voici quelques conseils pour vous protéger.</p>
                <ul>
                    <li><a href="#">Gestion de compte</a></li>
                    <li><a href="#">Escroqueries par email</a></li>
                    <li><a href="#">Menaces informatiques</a></li>
                    <li><a href="#">Reconnaître et éviter le vol d'identité</a></li>
                </ul>
            </div>
            <div>
                <h4>Comment signaler la fraude</h4>
                <p>Si vous pensez avoir été victime d'une fraude, veuillez en alerter immédiatement les services de police locaux et <a href="#">contacter Monster</a>, afin que les mesures nécessaires pour assurer votre sécurité puissent être prises.</p>
                <p>Nous vous recommandons également de déposer un rapport en ligne sur le site de <a href="https://www.internet-signalement.gouv.fr/PharosS1/">l'Office Central de Lutte contre la Criminalité liée aux Technologies de l'Information et de la Communication.</a></p>
            </div>
            <div>
                <h4>Sécurité de votre CV</h4>
                <p>Si la fraude est chose courante sur Internet, elle concerne surtout les sociétés de vente en ligne. Monster étant un service gratuit pour les candidats et les coordonnées fournies dans un CV étant largement accessibles par ailleurs (notamment via les annuaires téléphoniques), la publication de votre CV sur Monster est un moyen sécurisé d'effectuer une recherche d'emploi et de gérer votre carrière. Toutefois, la vigilance reste de mise quand vous donnez certaines informations dans votre CV. Évitez absolument d'indiquer les éléments suivants :</p>
                <ul>
                    <li>Numéro de carte d'identité</li>
                    <li>Numéro de permis de conduire</li>
                    <li>Coordonnées bancaires</li>
                    <li>Numéro de sécurité sociale</li>
                    <li>Numéro de carte bancaire</li>
                    <li>Mot de passe</li>
                    <li>Date de naissance</li>
                </ul>
                <p><strong>Remarque :</strong> vous devez également éviter de communiquer les informations personnelles ci-dessus à un recruteur éventuel tant que vous n'avez pas eu confirmation de l'identité et des intentions réelles de ce recruteur.</p>
                <p><strong>Publication de votre CV</strong></p>
                <p>Vous souhaitez que des recruteurs remarquent votre CV sur Monster ? Vous occupez actuellement un poste et ne voulez pas que n'importe qui puisse consulter votre CV ? Parce que chacun est libre de rechercher un emploi comme il le souhaite, Monster vous permet de choisir les conditions de publication de votre CV. Voici les options proposées :</p>
                <p><strong>CV activé</strong></p>
                <p>Si vous choisissez le statut de CV Activé, vous permettez à des recruteurs de trouver votre CV dans la CVthèque Monster. Comme les recruteurs commencent souvent à rechercher des candidats avant de publier une offre sur Monster, l'option Activé est celle qui vous donne le plus de chances de trouver un emploi. Les CV activés peuvent être consultés uniquement par des recruteurs, pas par les autres membres Monster.</p>
                <p><strong>CV confidentiel</strong></p>
                <p>Vous préférez que votre recherche d'emploi reste relativement discrète ? Vous pouvez publier votre CV tout en masquant vos coordonnées et le nom de votre employeur actuel et vos références. Les recruteurs peuvent vous écrire à une adresse de messagerie Monster confidentielle. Vous avez alors accès aux offres et donnez suite à celles qui vous intéressent. Sachez que si vous postulez en ligne avec le CV que vous avez publié, les informations que vous avez choisi de rendre confidentielles dans un premier temps sont fournies pour permettre aux recruteurs de vous contacter.</p>
                <p><strong>Important :</strong> si vous décidez de masquer vos coordonnées et le nom de la société qui vous emploie, vous devez AUSSI supprimer ces informations de votre CV Word téléchargé ou du CV copié-collé sur le site.</p>
                <p><strong>Remarque :</strong> si vous craignez qu'un recruteur trouve votre CV avant que vous ayez pu le rendre confidentiel, désactivez votre CV lors de sa création, puis activez-le une fois le mode Confidentiel sélectionné.</p>
                <p><strong>CV désactivé</strong></p>
                <p>Si vous choisissez le statut de CV Désactivé, vous empêchez les recruteurs de trouver votre CV. Vous gardez toutefois la possibilité de consulter les offres et de postuler à l'aide de votre CV.</p>
            </div>
        </section>

        <aside>
            <h3>Liens utiles</h3>
            <ul>
                <li><a href="{{ path('mentions_legales') }}">Mentions Légales</a></li>
                <li><a href="{{ path('conditions_utilisation') }}">Conditions d'utilisation</a></li>
                <li><a href="{{ path('donnees_personnelles') }}">Données personnelles</a></li>
                <li onclick="tarteaucitron.userInterface.openPanel();">Paramètre des cookies</li>
                <li><a href="{{ path('accessibilite') }}">Accessibilité</a></li>
                <li><a href="{{ path('security') }}">Centre de sécurité</a></li>
            </ul>
        </aside>

    </div>
</main>

{% endblock %}
