{{ form_row(form.titre) }}
{{ form_row(form.entreprise) }}
{{ form_row(form.dateDebut) }}
{{ form_row(form.dateFin) }}
{{ form_row(form.description) }}
<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove">Remove</button>
</div>