{% extends 'dashboard.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="wrapper">

    <h2>Paramètres du profil</h2>

    <ul class="tab">
        <li class="active">Votre profil</li>
        <li>Formation</li>
        <li>Expérience</li>
    </ul>

    <div class="section-wrapper">

        <div class="profil">
            <h3>Vos informations</h3>

            {{ form_start(form) }}

                <div class="form-group">
                    <label for="uploadPhoto">Votre photo</label>
                    {{ form_row(form.photo) }}
                    <div class="col-sm-3">
                        {# Si l'utilisateur a déjà une photo de profil, on l'affiche #}
                        {% if app.user.photo %}
                            <img src="{{ asset('pdp/' ~ app.user.photo) }}" alt="avatar">
                            <label for="deletePhoto">Supprimer la photo</label>
                            {{ form_row(form.deletePhoto) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="uploadCV">Votre CV</label>
                    {{ form_row(form.cv) }}
                    <div class="col-sm-3">
                        {# Si l'utilisateur a déjà un CV, on l'affiche #}
                        {% if app.user.cv %}
                            <a href="{{ asset('cv/' ~ app.user.cv) }}" target="_blank">Voir le CV</a>
                            <label for="deleteCV">Supprimer le CV</label>
                            {{ form_row(form.deleteCV) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNom">Nom</label>
                    {{ form_row(form.nom) }}
                </div>

                <div class="form-group">
                    <label for="inputPrenom">Prénom</label>
                    {{ form_row(form.prenom) }}
                </div>

                <div class="form-group">
                    <label for="inputEmail">Adresse email</label>
                    {{ form_row(form.email) }}
                </div>

                <div class="form-group">
                    <label for="selectMetier">Metier</label>
                    {{ form_row(form.metiers) }}
                </div>
            
                <div class="form-group">
                    <label for="inputDescription">A propos de vous</label>
                    {{ form_row(form.description) }}
                </div>

                <div class="form-group">
                    <label for="selectNiveau">Année d'expérience</label>
                    {{ form_row(form.niveau) }}
                </div>

                <div class="form-group">
                    <label for="selectLangue">Langue</label>
                    {{ form_row(form.langues) }}
                </div>

                <div class="form-group">
                    <label for="selectVille">Ville</label>
                    {{ form_row(form.villes) }}
                </div>

                <div class="form-group">
                    <label for="choice">Déployer mon CV</label>
                    {{ form_row(form.active) }}
                </div>
                
            </div>
            
        <div class="formation" style="display: none;">
            <h3>Formations</h3>
            <div class="formation-form" id="formation_list">
                {% for key, formation in form.formations %}
                <div class="form-group">
                    <label for="inputTitre">Titre</label>
                    {{ form_row(formation.titre) }}
                </div>

                <div class="form-group">
                    <label for="addEntreprise">Entreprise</label>
                    {{ form_row(formation.qualification) }}
                </div>

                <div class="form-group">
                    <label for="inputDateDebut">Date de début</label>
                    {{ form_row(formation.dateDebut) }}
                </div>

                <div class="form-group">
                    <label for="inputDateFin">Date de fin</label>
                    {{ form_row(formation.dateFin) }}
                </div>

                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    {{ form_row(formation.description) }}
                </div>
            {% endfor %}
            </div>

        </div>
        
        <div class="experience" style="display: none;">
            <h3>Expériences</h3>
        </div>
        
    </div>
    <button>Annuler</button>
    <button type="submit">Appliquer</button>
    {{ form_end(form) }}

    
</div>

{% endblock %}
