{% extends 'dashboard.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="wrapper">

    <h2>Paramètres du profil</h2>

    <ul class="tab">
        <li class="active">Votre profil</li>
        <li>Formation</li>
        <li>Expérience</li>
    </ul>
    
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="section-wrapper">
        
        <div class="profil">
            <h3>Vos informations</h3>
            
            <div class="form-group">
                <div>
                    <label for="selectPhoto">Votre photo</label>
                    {{ form_widget(form.photo, {'attr': {'class': 'form-control'}, 'id': 'selectPhoto'}) }}
                    {% if app.user.photo %}
                        <img src="{{ asset('pdp/' ~ app.user.photo) }}" alt="Photo de profil de l'utilisateur" style="width: 150px; height: 150px;object-fit: cover;">
                        <label for="deletePhoto">Supprimer la photo</label>
                        {{ form_row(form.deletePhoto) }}
                    {% endif %}
                </div>
                {# Si l'utilisateur a déjà une photo de profil, on l'affiche #}
        
                <div>
                    <label for="selectCv">Votre CV</label>
                    {{ form_widget(form.cv, {'attr': {'class': 'form-control'}, 'id': 'selectCv'}) }}
                    {% if app.user.cv %}
                        <a href="{{ asset('cv/' ~ app.user.cv) }}" target="_blank">Voir le CV</a>
                        <label for="deleteCV">Supprimer le CV</label>
                        {{ form_row(form.deleteCV) }}
                    {% endif %}
                </div>
                {# Si l'utilisateur a déjà un CV, on l'affiche #}
                
            </div>

            <div class="form-group">
                <div>
                    <label for="inputNom">Nom</label>
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}, 'id': 'inputNom'}) }}
                </div>
                <div>
                    <label for="inputPrenom">Prénom</label>
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}, 'id': 'inputPrenom'}) }}
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label for="inputEmail">Adresse email</label>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}, 'id': 'inputEmail'}) }}
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label for="selectMetier">Métier</label>
                    {{ form_widget(form.metiers, {'attr': {'class': 'form-control'}, 'id': 'selectMetier'}) }}
                </div>
                <div>
                    <label for="selectNiveau">Niveau d'expérience</label>
                    {{ form_widget(form.niveau, {'attr': {'class': 'form-control'}, 'id': 'selectNiveau'}) }}
                </div>
            </div>
        
            <div class="form-group">
                <div>
                    <label for="selectLangues">Langues</label>
                    {{ form_widget(form.langues, {'attr': {'class': 'form-control'}, 'id': 'selectLangues'}) }}
                </div>
                <div>
                    <label for="selectVille">Ville</label>
                    {{ form_widget(form.villes, {'attr': {'class': 'form-control'}, 'id': 'selectVille'}) }}
                </div>
            </div>

            <div class="choice">
                <label for="inputRole">Activer mon profil</label>
                {{ form_widget(form.active, {'id': 'inputRole'}) }}
            </div>

            <div class="form-group">
                <div>
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 10}, 'id': 'mytextarea'}) }}
                </div>
            </div>

            <div class="overview"></div>
        </div>
            
        <div class="formation" style="display: none">
            <h3>Formations</h3>
            <div class="formations"
                data-index="{{ form.formations|length}}"
                data-prototype="{{ form_widget(form.formations.vars.prototype)|e('html_attr') }}">
                {% for formation in form.formations %}
                    <div class="formfield">
                        <div class="form-group">
                            <div>
                                <label for="inputTitre">Titre</label>
                                {{ form_widget(formation.titre, {'attr': {'class': 'form-control'}, 'id': 'inputTitre'}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="inputQualification">Qualification</label>
                                {{ form_widget(formation.qualification, {'attr': {'class': 'form-control'}, 'id': 'inputQualification'}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="inputDateDebut">Date de début</label>
                                {{ form_widget(formation.dateDebut, {'attr': {'class': 'form-control'}, 'id': 'inputDateDebut'}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="inputDateFin">Date de fin</label>
                                {{ form_widget(formation.dateFin, {'attr': {'class': 'form-control'}, 'id': 'inputDateFin'}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="inputDescription">Description</label>
                                {{ form_widget(formation.description, {'attr': {'class': 'form-control'}, 'id': 'inputDescription'}) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="add_formation_link" data-collection-holder-class="formations">Add formation</button>
        </div>

        <div class="experience" style="display: none">
            <h3>Expériences</h3>
            <div class="experiences"
            data-index="{{ form.experiences|length }}"
            data-prototype="{{ form_widget(form.experiences.vars.prototype)|e('html_attr') }}">
                {% for experience in form.experiences %}
                    <div class="formfield">
                        <div class="form-group">
                            <div>
                                <label for="inputTitre">Titre</label>
                                {{ form_row(experience.titre, {'attr': {'class': 'form-control'}, 'id': 'inputTitre'}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="inputEntreprise">Entreprise</label>
                                {{ form_row(experience.entreprise, {'attr': {'class': 'form-control'}, 'id': 'inputEntreprise'}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="inputDateDebut">Date de début</label>
                                {{ form_row(experience.dateDebut, {'attr': {'class': 'form-control'}, 'id': 'inputDateDebut'}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="inputDateFin">Date de fin</label>
                                {{ form_row(experience.dateFin, {'attr': {'class': 'form-control'}, 'id': 'inputDateFin'}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="inputDescription">Description</label>
                                {{ form_row(experience.description, {'attr': {'class': 'form-control'}, 'id': 'inputDescription'}) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="add_experience_link" data-collection-holder-class="experiences">Add experience</button>
        </div>

    </div>

    <button>Annuler</button>
    <button type="submit">Appliquer</button>

    {{ form_end(form) }}
    
</div>

<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('#selectLangues').select2();
    });
</script>

{% endblock %}
