{% extends 'dashboard.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="wrapper">

    <h2>Paramètres du profil</h2>

    <ul class="tab">
        <li class="active">Votre profil</li>
        <li>Formation</li>
        <li>Expérience</li>
    </ul>

    <div class="section-wrapper">

        <div class="profil">
            <h3>Vos informations</h3>

            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.photo) }}
                    <div class="col-sm-3">
                        {# Si l'utilisateur a déjà une photo de profil, on l'affiche #}
                        {% if app.user.photo %}
                            <img src="{{ asset('pdp/' ~ app.user.photo) }}" alt="avatar">
                            <label for="deletePhoto">Supprimer la photo</label>
                            {{ form_row(form.deletePhoto) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_row(form.cv) }}
                    <div class="col-sm-3">
                        {# Si l'utilisateur a déjà un CV, on l'affiche #}
                        {% if app.user.cv %}
                            <a href="{{ asset('cv/' ~ app.user.cv) }}" target="_blank">Voir le CV</a>
                            <label for="deleteCV">Supprimer le CV</label>
                            {{ form_row(form.deleteCV) }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_row(form.nom) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.prenom) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.metiers) }}
                </div>
            
                <div class="form-group">
                    {{ form_row(form.description) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.niveau) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.langues) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.villes) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.active) }}
                </div>
                
            </div>
            
        <div class="formation" style="display: none;">
            <h3>Formations</h3>
            <div class="formation-form" id="formation_list" 
            data-prototype="{{ form_widget(form.formations.vars.prototype)|e('html_attr') }}">
                {% for formation in form.formations %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            {{ formation.vars.value.titre }}
                        </div>
                        <div class="panel-body">
                            {{ form_row(formation) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="experience" style="display: none;">
            <h3>Expériences</h3>
        </div>

    </div>

    <button>Annuler</button>
    <button type="submit">Appliquer</button>

    {{ form_end(form) }}

    <script>

        

    </script>
    
</div>

{% endblock %}
