<!DOCTYPE html>
<html lang="fr">
    <head>
        <script src="http://localhost/talentblend/tarteaucitron/tarteaucitron.js"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */
          "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
       
          "groupServices": false, /* Group services by category */
          "showDetailsOnClick": true, /* Click to expand the description */
          "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
                           
          "closePopup": false, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                           
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
          "mandatoryCta": true, /* Show the disabled accept button when mandatory on */
    
          //"customCloserId": "" /* Optional a11y: Custom element ID used to open the panel */
        });
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}TalentBlend{% endblock %}</title>
        <meta name="description" content="TalentBlend est une plateforme de recrutement en ligne qui permet aux recruteurs de trouver des candidats qualifiés. TalentBlend est également un site d'emploi pour les demandeurs d'emploi qui souhaitent trouver un emploi.">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
            <link rel="stylesheet" href="{{asset('css/nav.css')}}">
            <link rel="stylesheet" href="{{asset('css/form.css')}}">
            <link rel="stylesheet" href="{{asset('css/footer.css')}}">
            <link rel="stylesheet" href="{{asset('css/paginator.css')}}">
            <link rel="stylesheet" href="{{asset('css/liens-utiles.css')}}">
            {{ ux_controller_link_tags() }}
        {% endblock %}
        {% block javascripts %}
            {{ importmap() }}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
            <script src="{{asset('js/script.js')}}"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% endblock %}
    </head>
    <body data-controller="search">

        <header class="mobile-header" data-controller="menu">
            <nav>
                <ul>
                    <li>
                        <i class="fa-solid fa-bars" data-action="click->menu#openMenu" style="color: #007456; cursor: pointer;"></i>
                        <a href="{{ path('app_home') }}"><img class="logo" src="{{ asset('img/logo.png') }}" alt="logo"></a>
                    </li>
                    <li><i class="fa-solid fa-magnifying-glass" style="color: #5d5d5d; cursor: pointer;" data-action="click->search#open"></i></li>
                </ul>
            </nav>
            <nav class="slide-menu" data-menu-target="slideMenu">
                <div>
                    {# Afficher un lien pour se connecter si l'utilisateur n'est pas connecté #}
                    {% if not app.user %}
                        <span class="auth-public">
                            <a href="{{ path('app_login') }}">Connexion</a>
                            <a href="{{ path('app_register') }}">Inscription</a>
                        </span>
                        <i class="fa-solid fa-xmark" data-action="click->menu#closeMenu" style="color: #666666; cursor: pointer;"></i>
                    {% endif %}
                    {# Afficher la photo de profil de l'utilisateur et son nom s'il est connecté #}
                    {% if app.user %}
                        <span class="nav-head">
                            <div>
                                <div class="pseudo-div">
                                    {% if app.user.photo %}
                                        <img src="{{ asset('pdp/' ~ app.user.photo) }}" alt="avatar">
                                    {% else %}
                                        <img src="{{ asset('img/profil.jpg') }}" alt="avatar">
                                    {% endif %}
                                    <p class="pseudo" data-menu-target="pseudo" data-action="click->menu#toggleDashSubmenu">
                                        {{ app.user.prenom }}<i class="fa-solid fa-chevron-down"></i>
                                    </p>
                                </div>
                                <i class="fa-solid fa-xmark" data-action="click->menu#closeMenu" style="color: #666666; cursor: pointer;"></i>
                            </div>
                            <nav class="dash-submenu" data-menu-target="dashSubmenu">
                                <ul>
                                    {% if is_granted('ROLE_RECRUTEUR') %}
                                    <li><a href="{{ path('app_emplois') }}" data-turbo="false"><i class="fa-solid fa-gauge"></i> Tableau de bord</a></li>
                                    <li><a href="{{ path('app_emplois') }}" data-turbo="false"><i class="fa-solid fa-briefcase"></i> Emplois</a></li>
                                    <li><a href="{{ path('app_candidatures_recu') }}" data-turbo="false"><i class="fa-solid fa-list"></i> Candidatures</a></li>
                                    <li><a href="{{ path('app_entreprises') }}" data-turbo="false"><i class="fa-solid fa-building-shield"></i> Entreprise</a></li>
                                    <li><a href="{{ path('app_discussions')}}" data-turbo="false"><i class="fa-regular fa-message"></i> Messages</a></li>
                                    <li><a href="{{ path('app_edit_password') }}" data-turbo="false"><i class="fa-solid fa-gear"></i> Paramètre</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_CANDIDAT') %}
                                    <li><a href="{{ path('app_candidat_edit', {'id': app.user.id}) }}" data-turbo="false"><i class="fa-solid fa-user"></i> Profil</a></li>
                                    <li><a href="{{ path('app_candidatures') }}" data-turbo="false"><i class="fa-solid fa-list-check"></i> Candidatures</a></li>
                                    <li><a href="{{ path('app_discussions')}}" data-turbo="false"><i class="fa-regular fa-message"></i> Messages</a></li>
                                    <li><a href="{{ path('app_edit_password') }}" data-turbo="false"><i class="fa-solid fa-gear"></i> Paramètre</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('app_admin_entreprise') }}" data-turbo="false"><i class="fa-solid fa-gauge"></i></i> Tableau de bord</a></li>
                                    <li><a href="{{ path('app_admin_representant') }}" data-turbo="false">Représentation</a></li>
                                    <li><a href="{{ path('admin') }}" data-turbo="false"><i class="fa-solid fa-user-shield"></i> Administration</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('app_logout') }}" data-turbo="false"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a></li>
                                </ul>
                            </nav>
                        </span>
                    {% endif %}
                </div>
                <ul>
                    <li><a href="{{ path('app_home')}}"><i class="fa-solid fa-house"></i> Accueil</a></li>
                    <li class="categorie" data-menu-target="categorie" data-action="click->menu#toggleSubMenu"><i class="fa-solid fa-list"></i> Catégorie <i class="fa-solid fa-chevron-down fa-xs"></i></li>
                    <li class="sub-menu" data-menu-target="subMenu">
                        <ul>
                            <li><a href="{{ path('app_emplois_par_categorie', {'id': 1 }) }}"><i class="fa-solid fa-code"></i> Développement</a></li>
                            <li><a href=""><i class="fa-solid fa-microchip"></i> Technologie</a></li>
                            <li><a href=""><i class="fa-solid fa-user-doctor"></i> Santé</a></li>
                            <li><a href=""><i class="fa-solid fa-palette"></i> Design</a></li>
                            <li><a href=""><i class="fa-solid fa-award"></i> Education</a></li>
                            <li><a href=""><i class="fa-solid fa-car"></i> Automobile</a></li>
                            <li><a href="{{ path('app_categories') }}">Toutes les catégories</a></li>
                        </ul>
                    </li>
                    <li><a href=""><i class="fa-solid fa-briefcase"></i> Offres d'emploi</a></li>
                    {% if is_granted('ROLE_RECRUTEUR') %}
                        <li><a class="post-offre" href="{{ path('app_new_emploi') }}">Poster une offre</a></li>
                    {% elseif is_granted('ROLE_CANDIDAT') %}
                        <li><a class="post-offre" href="{{ path('app_candidat_edit', {'id': app.user.id}) }}">Déposer mon CV</a></li>
                    {% else %}
                        <li><a class="post-offre" href="{{ path('app_register') }}">Déposer mon CV</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="overlay" data-menu-target="overlay" data-action="click->menu#closeMenu"></div>
            <div class="overlay" data-search-target="overlay" data-action="click->search#close"></div>
        </header>

        <header class="desk-header">
            <nav>
                <ul>
                    <li class="logo-resp"><a href="{{ path('app_home') }}"><img class="logo" width="100%" src="{{ asset('img/logo.png') }}" alt="logo"></a></li>
                    {% if isHomePage is defined and isHomePage %}
                        {# Ne pas afficher le formulaire sur la page d'accueil #}
                    {% else %}
                    {{ render(controller('App\\Controller\\FormController::searchForm', {'isHomePage': false}, {'isHomePage': false})) }}
                    {% endif %}
                    <li>
                        {% if not app.user %}
                            <span class="auth-public">
                                <a href="{{ path('app_register') }}">Inscription</a>
                                <a href="{{ path('app_login') }}">Connexion</a>
                            </span>
                        {% endif %}
                        {% if app.user %}
                            <span class="authentified">
                                {% if app.user.photo %}
                                        <img src="{{ asset('pdp/' ~ app.user.photo) }}" alt="avatar">
                                    {% else %}
                                        <img src="{{ asset('img/profil.jpg') }}" alt="avatar">
                                    {% endif %}
                                <p>
                                    {{ app.user.prenom }}<i class="fa-solid fa-chevron-down"></i>
                                </p>
                                <ul>
                                    {% if is_granted('ROLE_RECRUTEUR') %}
                                    <li><a href="{{ path('app_emplois') }}" data-turbo="false"><i class="fa-solid fa-gauge"></i> Tableau de bord</a></li>
                                    <li><a href="{{ path('app_emplois') }}" data-turbo="false"><i class="fa-solid fa-briefcase"></i> Emplois</a></li>
                                    <li><a href="{{ path('app_candidatures_recu') }}" data-turbo="false"><i class="fa-solid fa-list"></i> Candidatures</a></li>
                                    <li><a href="{{ path('app_entreprises') }}" data-turbo="false"><i class="fa-solid fa-building-shield"></i> Entreprise</a></li>
                                    <li><a href="{{ path('app_discussions')}}" data-turbo="false"><i class="fa-regular fa-message"></i> Messages</a></li>
                                    <li><a href="{{ path('app_edit_password') }}" data-turbo="false"><i class="fa-solid fa-gear"></i> Paramètre</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_CANDIDAT') %}
                                    <li><a href="{{ path('app_candidat_edit', {'id': app.user.id}) }}" data-turbo="false"><i class="fa-solid fa-user"></i> Profil</a></li>
                                    <li><a href="{{ path('app_candidatures') }}" data-turbo="false"><i class="fa-solid fa-list-check"></i> Candidatures</a></li>
                                    <li><a href="{{ path('app_discussions')}}" data-turbo="false"><i class="fa-regular fa-message"></i> Messages</a></li>
                                    <li><a href="{{ path('app_edit_password') }}" data-turbo="false"><i class="fa-solid fa-gear"></i> Paramètre</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('app_admin_entreprise') }}" data-turbo="false"><i class="fa-solid fa-gauge"></i></i> Tableau de bord</a></li>
                                        <li><a href="{{ path('app_admin_representant') }}" data-turbo="false">Représentation</a></li>
                                        <li><a href="{{ path('admin') }}" data-turbo="false"><i class="fa-solid fa-user-shield"></i> Administration</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('app_logout') }}" data-turbo="false"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a></li>
                                </ul>
                            </span>
                    {% endif %}
                    </li>
                </ul>
                <div>
                    <div class="mt4">
                        <ul>
                            <li><a href="{{ path('app_home')}}" data-turbo="false">Accueil</a></li>
                            <li><a href="{{ path('app_categories')}}" data-turbo="false">Catégories</a></li>
                            <li><a href="">Offres d'emploi</a></li>
                            {% if not app.user %}
                                <li><a href="{{ path('app_register') }}" data-turbo="false">Déposer mon CV</a></li>
                            {% endif %}
                        </ul>

                        {% set isRecruiterRoute = app.request.pathInfo starts with '/recruteur' %}

                        {% if is_granted('ROLE_RECRUTEUR') %}
                            {% if isRecruiterRoute %}
                                <a href="{{ path('app_home') }}" data-turbo="false">Accès Candidat <i class="fa-solid fa-arrow-right-long"></i></a>
                            {% else %}
                                <a href="{{ path('app_search_candidat') }}" data-turbo="false">Accès Recruteurs <i class="fa-solid fa-arrow-right-long"></i></a>
                            {% endif %}
                        {% elseif is_granted('ROLE_CANDIDAT') %}
                            <a href="{{ path('app_candidat_edit', {'id': app.user.id}) }}" data-turbo="false">Déposer mon CV <i class="fa-solid fa-arrow-right-long"></i></a>
                        {% else %}
                            <a href="{{ path('app_register') }}" data-turbo="false">Accès Recruteurs <i class="fa-solid fa-arrow-right-long"></i></a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <div class="overlay"></div>
        </header>

        <div class="search-modal" data-search-target="modal">
            <div>
              {{ render(controller('App\\Controller\\FormController::searchForm')) }}
              <i class="fa-solid fa-times" data-search-target="close" data-action="click->search#close"></i>
            </div>
        </div>

        {# Vérifier et afficher le message flash d'erreur #}
        {% set errorFlashes = app.flashes('error') %}
        {% if errorFlashes is not empty %}
            <div class="alert-danger">
                {{ errorFlashes[0] }}
            </div>
            {# Masquer le message après 6 secondes (6 seconde) #}
            <script>
                setTimeout(function() {
                    document.querySelector('.alert-danger').style.display = 'none';
                }, 6000); // Masquer le message après 6 secondes (6000 millisecondes)
            </script>
        {% endif %}

        {# Vérifier et afficher le message flash de succès #}
        {% set successFlashes = app.flashes('success') %}
        {% if successFlashes is not empty %}
            <div class="alert-success">
                {{ successFlashes[0] }}
            </div>
            {# Masquer le message après 6 secondes (6 seconde) #}
            <script>
                setTimeout(function() {
                    document.querySelector('.alert-success').style.display = 'none';
                }, 6000); // Masquer le message après 6 secondes (6000 millisecondes)
            </script>
        {% endif %}

        {% block body %}{% endblock %}

        <div class="newsletter">
            <div>
                <div class="news-head">
                    <img src="{{ asset('img/newsletter.png')}}" alt="">
                    <div>
                        <h3>Abonnez-vous à notre newsletter</h3>
                        <p>Nous vous enverrons les dernières offres d'emploi correspondant à vos critères</p>
                    </div>
                </div>
                <form action="">
                    <input type="email" placeholder="Votre adresse email">
                    <button type="submit" class="abonner">S'abonner</button>
                </form>
            </div>
        </div>
        <footer>
            <div class="footer-container">
                <div class="about-us">
                    <p>TalentBlend est une plateforme de recrutement en ligne qui permet aux recruteurs de trouver des candidats qualifiés.
                    TalentBlend est également un site d'emploi pour les demandeurs d'emploi qui souhaitent trouver un emploi.
                    </p>
                    <p>Tél : (+33) 3 88 10 30 66</p>
                    <p>Email : contact@talentblend.com</p>
                </div>
                <div class="footer-dropdown">
                    <div>
                        <div class="footer-dropdown-head">
                            <h4>Espace candidats</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="footer-dropdown-body">
                            <ul>
                                <li><a href="">Offres d'emploi</a></li>
                                <li><a href="">Entreprises</a></li>
                                <li><a href="">Déposer un CV</a></li>
                                <li><a href="">Aide</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="footer-dropdown-head">
                            <h4>Espace recruteurs</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="footer-dropdown-body">
                            <ul>
                                <li><a href="">Poster une offre</a></li>
                                <li><a href="">Mes offres</a></li>
                                <li><a href="">Candidatures</a></li>
                                <li><a href="">Aide</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="footer-dropdown-head">
                            <h4>Liens utiles</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="footer-dropdown-body">
                            <ul>
                                <li><a href="{{ path('mentions_legales') }}">Mentions légales</a></li>
                                <li><a href="{{ path('conditions_utilisation') }}">Conditions d'utilisation</a></li>
                                <li><a href="{{ path('donnees_personnelles') }}">Données personnelles</a></li>
                                <li><a href="{{ path('accessibilite')}}">Accessibilité</a></li>
                                <li><a href="{{ path('security') }}">Centre de sécurité</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>© 2023 TalentBlend. Tous droits réservés.</p>
                <p>Conçu et développé par <a href="https://www.linkedin.com/in/mansour-chamaev/">Chamaev Mansour</a></p>
            </div>
        </footer>
        <script src="{{asset('js/likeEmploi.js')}}"></script>
    </body>
</html>