<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name='description' content="Plateforme de recrutement en ligne au Cameroun. Trouvez un emploi ou un candidat en quelques clics.">
        <title>{% block title %}Tableau de bord{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('css/dashboard.css')}}">
        <link rel="stylesheet" href="{{asset('css/select2-custom.css')}}">
        <link rel="stylesheet" href="{{ asset('css/paginator.css') }}">
        <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dashboard-form.css') }}">
        <link rel="stylesheet" href="{{ asset('css/chat.css') }}">
        <link rel="stylesheet" href="{{asset('css/flash.css')}}">
        {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
        <!-- Inclure jQuery (obligatoire) -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        
        <!-- Inclure Select2 JS -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <!-- Inclure le script de l'éditeur de texte TINYMCE -->
        <script src="https://cdn.tiny.cloud/1/pch19fkuk57vjgc2ogifqdvn6aqr9o85dzkitspqvub4m6pp/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
                selector: '#textarea',
                language: 'fr_FR',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
                setup: function (editor) {
                    editor.on('input', function () {
                        // À chaque saisie, mettre à jour la prévisualisation
                        updatePreview(editor.getContent());
                    });
                }
            });

            function updatePreview(content) {
                // Mettre à jour la prévisualisation avec le contenu rendu
                $('.overview').html(content);
            }
        </script>
        <script src="{{ asset('js/dashboard.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {{ importmap() }}
        {% endblock %}
    </head>
    <body>
        <main>
            <header class="mobile-header" data-controller="menu">
                <nav>
                    <ul>
                        <li>
                            <i class="fa-solid fa-bars" data-action="click->menu#openMenu" style="color: #007456; cursor: pointer;"></i>
                            <a href="{{ path('app_home') }}"><img class="logo" src="{{ asset('img/logo.png') }}" alt="logo"></a>
                        </li>
                        <li><i class="fa-solid fa-magnifying-glass" style="color: #5d5d5d; cursor: pointer;" data-action="click->search#open"></i></li>
                    </ul>
                </nav>
                <nav class="slide-menu" data-menu-target="slideMenu">
                    <div>
                        {# Afficher un lien pour se connecter si l'utilisateur n'est pas connecté #}
                        {% if not app.user %}
                            <span class="auth-public">
                                <a href="{{ path('app_login') }}">Connexion</a>
                                <a href="{{ path('app_register') }}">Inscription</a>
                            </span>
                            <i class="fa-solid fa-xmark" data-action="click->menu#closeMenu" style="color: #666666; cursor: pointer;"></i>
                        {% endif %}
                        {# Afficher la photo de profil de l'utilisateur et son nom s'il est connecté #}
                        {% if app.user %}
                            <span class="nav-head">
                                <div>
                                    <div class="pseudo-div">
                                        {% if app.user.photo %}
                                            <img src="{{ asset('pdp/' ~ app.user.photo) }}" alt="avatar">
                                        {% else %}
                                            <img src="{{ asset('img/profil.jpg') }}" alt="avatar">
                                        {% endif %}
                                        <p class="pseudo">{{ app.user.prenom }}</p>
                                    </div>
                                    <i class="fa-solid fa-xmark" data-action="click->menu#closeMenu" style="color: #666666; cursor: pointer;"></i>
                                </div>
                                <nav class="dash-submenu-dash">
                                    <span>Tableau de bord</span>
                                    <ul>
                                        {% if is_granted('ROLE_RECRUTEUR') %}
                                        <li><a href="{{ path('app_emplois') }}" data-turbo="false"><i class="fa-solid fa-gauge"></i> Tableau de bord</a></li>
                                        <li><a href="{{ path('app_emplois') }}" data-turbo="false"><i class="fa-solid fa-briefcase"></i> Emplois</a></li>
                                        <li><a href="{{ path('app_candidatures_recu') }}" data-turbo="false"><i class="fa-solid fa-list"></i> Candidatures</a></li>
                                        <li><a href="{{ path('app_entreprises') }}" data-turbo="false"><i class="fa-solid fa-building-shield"></i> Entreprise</a></li>
                                        <li><a href="{{ path('app_discussions')}}" data-turbo="false"><i class="fa-regular fa-message"></i> Messages</a></li>
                                        <li><a href="{{ path('app_edit_password') }}" data-turbo="false"><i class="fa-solid fa-gear"></i> Paramètre</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_CANDIDAT') %}
                                        <li><a href="{{ path('app_candidat_edit', {'id': app.user.id}) }}" data-turbo="false"><i class="fa-solid fa-user"></i> Profil</a></li>
                                        <li><a href="{{ path('app_candidatures') }}" data-turbo="false"><i class="fa-solid fa-list-check"></i> Candidatures</a></li>
                                        <li><a href="{{ path('app_discussions')}}" data-turbo="false"><i class="fa-regular fa-message"></i> Messages</a></li>
                                        <li><a href="{{ path('app_edit_password') }}" data-turbo="false"><i class="fa-solid fa-gear"></i> Paramètre</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('app_admin_entreprise') }}" data-turbo="false"><i class="fa-solid fa-gauge"></i></i> Tableau de bord</a></li>
                                        <li><a href="{{ path('app_admin_representant') }}" data-turbo="false">Représentation</a></li>
                                        <li><a href="{{ path('admin') }}" data-turbo="false"><i class="fa-solid fa-user-shield"></i> Administration</a></li>
                                        {% endif %}
                                        <li><a href="{{ path('app_logout') }}" data-turbo="false"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a></li>
                                    </ul>
                                </nav>
                            </span>
                        {% endif %}
                    </div>
                    <ul>
                        <li><a href="{{ path('app_home')}}"><i class="fa-solid fa-house"></i> Accueil</a></li>
                        <li class="categorie" data-menu-target="categorie" data-action="click->menu#toggleSubMenu"><i class="fa-solid fa-list"></i> Catégorie <i class="fa-solid fa-chevron-down fa-xs"></i></li>
                        <li class="sub-menu" data-menu-target="subMenu">
                            <ul>
                                <li><a href="{{ path('app_emplois_par_categorie', {'id': 1 }) }}"><i class="fa-solid fa-code"></i> Développement</a></li>
                                <li><a href=""><i class="fa-solid fa-microchip"></i> Technologie</a></li>
                                <li><a href=""><i class="fa-solid fa-user-doctor"></i> Santé</a></li>
                                <li><a href=""><i class="fa-solid fa-palette"></i> Design</a></li>
                                <li><a href=""><i class="fa-solid fa-award"></i> Education</a></li>
                                <li><a href=""><i class="fa-solid fa-car"></i> Automobile</a></li>
                                <li><a href="{{ path('app_categories') }}">Toutes les catégories</a></li>
                            </ul>
                        </li>
                        <li><a href=""><i class="fa-solid fa-briefcase"></i> Offres d'emploi</a></li>
                    </ul>
                </nav>
                <div class="overlay" data-menu-target="overlay" data-action="click->menu#closeMenu"></div>
                <div class="overlay" data-search-target="overlay" data-action="click->search#close"></div>
            </header>
            <aside class="nav-aside">
                <div class="logo">
                    <a href="{{ path('app_home')}}" data-turbo="false"><img src="{{ asset('img/logo.png') }}" alt="logo"></a>
                </div>
                <nav class="dash-submenu-dash">
                    <span>Tableau de bord</span>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-gauge"></i> Aperçu <span class="soon">Bientôt</span></a></li>
                        {% set unreadMessagesCount = app.user.countAllUnreadMessages %}
                        {% if is_granted('ROLE_RECRUTEUR') %}
                        <li><a href="{{ path('app_emplois') }}" data-turbo="false"><i class="fa-solid fa-briefcase"></i> Emplois</a></li>
                        <li><a href="{{ path('app_candidatures_recu') }}" data-turbo="false"><i class="fa-solid fa-list"></i> Candidatures</a></li>
                        <li><a href="{{ path('app_entreprises') }}" data-turbo="false"><i class="fa-solid fa-building-shield"></i> Entreprise</a></li>
                        <li><a href="{{ path('app_discussions')}}" data-turbo="false"><i class="fa-regular fa-message"></i> Messages {% if unreadMessagesCount > 0 %}
                            <span class="notif-number-dash">{{ unreadMessagesCount }}</span>
                        {% endif %}</a></li>
                        <li><a href="{{ path('app_edit_password') }}" data-turbo="false"><i class="fa-solid fa-gear"></i> Paramètre</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_CANDIDAT') %}
                        <li><a href="{{ path('app_candidat_edit', {'id': app.user.id}) }}" data-turbo="false"><i class="fa-solid fa-user"></i> Profil</a></li>
                        <li><a href="{{ path('app_candidatures') }}" data-turbo="false"><i class="fa-solid fa-list-check"></i> Candidatures</a></li>
                        <li><a href="{{ path('app_discussions')}}" data-turbo="false"><i class="fa-regular fa-message"></i> Messages {% if unreadMessagesCount > 0 %}
                            <span class="notif-number-dash">{{ unreadMessagesCount }}</span>
                        {% endif %}</a></li>
                        <li><a href="{{ path('app_edit_password') }}" data-turbo="false"><i class="fa-solid fa-gear"></i> Paramètre</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_admin_entreprise') }}" data-turbo="false"><i class="fa-solid fa-building"></i> Entreprise</a></li>
                        <li><a href="{{ path('app_admin_representant') }}" data-turbo="false"><i class="fa-solid fa-building-user"></i> Représentation</a></li>
                        <li><a href="#" data-turbo="false"><i class="fa-solid fa-flag"></i> Signalement</a></li>
                        <li><a href="{{ path('admin') }}" data-turbo="false"><i class="fa-solid fa-user-shield"></i> Administration</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_logout') }}" data-turbo="false"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a></li>
                    </ul>
                </nav>
            </aside>
            <div class="nav-wrapper">
                <header>
                    <nav>
                        <ul class="top-nav">
                            <li><a href="{{ path('app_home') }}" data-turbo="false"><i class="fa-solid fa-house"></i> Accueil</a></li>
                            <li><a href="{{ path('app_categories') }}" data-turbo="false"><i class="fa-solid fa-briefcase"></i> Offres d'emploi</a></li>
                        </ul>
                        <ul>
                            <li class="user">
                                {% if app.user.photo %}
                                        <img src="{{ asset('pdp/' ~ app.user.photo) }}" alt="avatar">
                                    {% else %}
                                        <img src="{{ asset('img/profil.jpg') }}" alt="avatar">
                                    {% endif %}
                                <p>{{ app.user.prenom }}</p>
                            </li>
                            {% if is_granted('ROLE_RECRUTEUR') %}
                            <li><a class="post-offre" href="{{ path('app_new_emploi') }}" data-turbo="false">Poster une offre</a></li>
                            {% elseif is_granted('ROLE_CANDIDAT') %}
                                <li><a class="post-offre" href="{{ path('app_candidat_edit', {'id': app.user.id}) }}" data-turbo="false">Modifier Profil</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </header>
                {% block body %}{% endblock %}
            </div>
        </main>
        <div class="search-modal" data-search-target="modal">
            <div>
              {{ render(controller('App\\Controller\\FormController::searchForm')) }}
              <i class="fa-solid fa-times" data-search-target="close" data-action="click->search#close"></i>
            </div>
        </div>
        {# Vérifier et afficher le message flash d'erreur #}
        {% set errorFlashes = app.flashes('error') %}
        {% if errorFlashes is not empty %}
            <div class="alert-danger">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <p><strong>{{ errorFlashes[0] }}</strong></p>
            </div>
            {# Masquer le message après 6 secondes #}
            <script>
                var errorAlert = document.querySelector('.alert-danger');
                setTimeout(function() {
                    errorAlert.style.animationFillMode = 'forwards';
                    errorAlert.classList.add('slideToTop');
                }, 6000); // Masquer le message après 6 secondes (6000 millisecondes)
            </script>
        {% endif %}

        {# Vérifier et afficher le message flash de succès #}
        {% set successFlashes = app.flashes('success') %}
        {% if successFlashes is not empty %}
            <div class="alert-success">
                <i class="fa-regular fa-circle-check"></i>
                <p><strong>{{ successFlashes[0] }}</strong></p>
            </div>
            {# Masquer le message après 6 secondes #}
            <script>
                var successAlert = document.querySelector('.alert-success');
                setTimeout(function() {
                    successAlert.style.animationFillMode = 'forwards';
                    successAlert.classList.add('slideToTop');
                }, 6000); // Masquer le message après 6 secondes (6000 millisecondes)
            </script>
        {% endif %}

        {# Vérifier et afficher le message flash de warning #}
        {% set warningFlashes = app.flashes('warning') %}
        {% if warningFlashes is not empty %}
            <div class="alert-warning">
                <i class="fa-solid fa-exclamation"></i>
                <p><strong>{{ warningFlashes[0] }}</strong></p>
            </div>
            {# Masquer le message après 6 secondes #}
            <script>
                var warningAlert = document.querySelector('.alert-warning');
                setTimeout(function() {
                    warningAlert.style.animationFillMode = 'forwards';
                    warningAlert.classList.add('slideToTop');
                }, 6000); // Masquer le message après 6 secondes (6000 millisecondes)
            </script>
        {% endif %}

        <script>
            var links = document.querySelectorAll('.dash-submenu-dash ul li a');
            var currentUrl = window.location.href;
            links.forEach(function(link) {
                if (link.href === currentUrl) {
                    link.classList.add('active');
                }
            });
        </script>
        <script src="{{asset('js/likeEmploi.js')}}"></script>
    </body>
</html>
